<div class = "auth_container">
	<div class ="about_author_main">

	<h3 class = "author_title">About the Author</h3>
	<hr class="auth_hr">


	<div class="auth_picture"><%= image_tag avatar_url(@author), :alt => "profile", :class => "auth_img_tag" %>
	</div>
  	
  	<div class="auth_description">
  		<h4><%= @author.author_name %></br><small class="auth_city"><%= @author.city %>, <%= @author.state %> </small></h4>
  		<div class="auth_social_link"><%= link_to image_tag('/assets/twitter-bird-white-on-blue.png', :class=> "auth_social_icon"), raw("https://twitter.com/#{@author.twitter_handle}"), :target => "_blank"%></div>
  	</div>
  	
  	<!-- begin auth_moreinfo -->
  	<div class="auth_moreinfo">
      <lead><%= @author.blurb %></lead>

  	</div>
  	<!-- end auth_moreinfo -->

	</div>
</div>

