<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :author_id, 'Author Name ' %>: <%= f.text_field :author_id %>
  </div>
  
  <div class="field">
      <%= f.label :trip_name, 'Your trip name' %>: <%= f.text_field :trip_name %>
  </div>

  <div class="field">
      <%= f.label :location_id, "Place" %>: <%= f.text_field :location_id %>
  </div>

  <div class="field">
        <%= f.label :traveler_type_id, 'For' %>: <%= f.collection_select :traveler_type_id, TravelerType.all, :traveler_type_id, :traveler_type_name %>
    </div>


    <div class="field">
        <%= f.label :duation, 'Length of trip' %>: <%= f.text_field :duration %>
    </div>  
    
    
    <div class="field">
        <%= f.label :trip_summary, 'Summary of the trip ' %>:<br/> <%= f.text_area :trip_summary %>
    </div>

  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
