<div class = "overflow_form">

  <%= form_for(@trip) do |f| %>
  
    <% if @trip.errors.any? or @author_info.errors.any? %>
      <div id="error_explanation">
        <h2><%#= pluralize(@trip.errors.count + @author_info.errors.count, "error") %> prohibited this trip from being saved:</h2>
        <ul>
          <% @author_info.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
      
          <% @trip.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
        </ul>
      
      </div>
    <% end %>
  
    <%= hidden_field_tag :selected_images, @selectedimages %>
    
    <%= fields_for @author_info do |a| %>
      <div class = "field">
        <%= a.label :author_name, 'Author Name' %>:
        <%= a.text_field :author_name %>
      </div>
      <div class = "field">
        <%= a.label :email, 'Author Email' %>:
        <%= a.text_field :email %>
      </div>
      <div class = "field">
        <%= a.label :twitter_handle, 'Twitter Handle' %>:
        <%= a.text_field :twitter_handle %>
      </div>
      <div class = "field">
        <%= a.label :about, 'About the author' %>:
        <%= a.text_field :about %>
      </div>
      <div class = "field">
        <%= a.label :website, 'Author\'s Website' %>:
        <%= a.text_field :website %>
      </div>
      <div class = "field">
        <%= a.label :city, 'Author\'s City' %>:
        <%= a.text_field :city %>
      </div>
      <div class = "field">
        <%= a.label :state, 'Author\'s State' %>:
        <%= a.text_field :state %>
      </div>
      <div class = "field">
        <%= a.label :country, 'Author\'s Country' %>:
        <%= a.text_field :country %>
      </div>
    <% end %>
        
    <div class="field">
        <%= f.label :trip_name, 'Your trip name' %>: <%= f.text_field :trip_name %>
    </div>


    <div class="field">
      <%= f.hidden_field :location_id %>
    </div>
 
    <div class="field">
      <label for="location">location</label>: <input id="place_text_field" type="text" name="location" value="<%= @location_val %>" />
    </div>

    <div class="field">
        <%= f.label :featured_trip_flag, 'Featured Trip' %>: <%= f.check_box :featured_trip_flag %>
    </div>
  

    <div class="field">
        <%= f.label :traveler_type_id, 'For' %>: <%= f.collection_select :traveler_type_id, TravelerType.all, :traveler_type_id, :traveler_type_name %>
    </div>


      <div class="field">
          <%= f.label :duration, 'Length of trip' %>: <%= f.text_field :duration %>
      </div>  
    
    
      <div class="field">
          <%= f.label :trip_summary, 'Summary of the trip ' %>:<br/> <%= f.text_area :trip_summary %>
      </div>

  
    <div class="actions">
      <%= f.submit  :id => "trip_form_submit" %>
    </div>
  <% end %>

  <div id="location_images"> </div>
  
</div>