      <div class="triptitlebox">

        <p>
        <span class="trip-title-main-text"><%= @trip.trip_name %></span>
        <span class="trip-title-sub-text"> - Day X of <%= @trip.duration %> in London</span>
        </p>
        <small>by <%= @trip.author_id %> <i class="icon-heart-empty icon-1x"></i> [000] Likes</small>
      
      <div class="socialmediabox">
      <i class="icon-pinterest-sign icon-2x"></i>
      <i class="icon-facebook-sign icon-2x"></i>
      <i class="icon-twitter-sign icon-2x"></i>
      </div>

      <label for="main-nav-check" class="toggle-menu">
      <i class="icon-reorder icon-border"></i>
      </label>

      </div>
      
      <div class="filmstrip">
        
        <ul class="media-list" id="filmstriplist">
          
          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>
          
          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>                     
          
          <li>
            <center><i class="icon-caret-down icon-2x"></i></center>
          </li>

        </ul>
      </div>

  <div id="wrapper"></div>

  <ul id="navswipe">
    <li id="prev" onclick="gallery.prev()">-</li>
    <li class="selected" onclick="gallery.goToPage(0)"></li>
    <!-- / looping through activities for the status bar -->
    <% for i  in 1..(@trip.trip_activities.count-1) %>
    <li onclick="gallery.goToPage(<%= i %>)"></li>
    <% end %> 
    <li id="next" onclick="gallery.next()"></li>
  </ul>


<%= trip_activities_as_json %>
<!-- /bottom navigation bar -->
      <div class="bottomnavigationbar" id="leftnavigation" onclick="gallery.prev()"><i class="icon-chevron-left icon-2x"></i></div>
      
      <div class="bottomnavigationbar" id="previousstepbox">
        
        [Go Back]
        
        </br>[How and Time]</div>
      
      <div class="bottomnavigationbar" id="nextstepbox">
        
        [Go Next]

      </br>[How and Time]</div>
      
      <div class="bottomnavigationbar" id="rightnavigation" onclick="gallery.next()"  ><i class="icon-chevron-right icon-2x"></i></div>

<!-- /sliding panel -->        
<div id="wrapperhung">
          <div id="lower">

            <div id="bar"><a href="#" id="toggle">More Info</a></div>

            <div id="panel">
                <p>Panel - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris et nulla facilisis eleifend. Sed metus orci, vulputate sit amet malesuada id, luctus vestibulum lacus. Sed faucibus, nibh vel faucibus porta, lectus lacus suscipit metus, ut posuere nulla dolor porttitor erat. Nam iaculis dolor et est tristique scelerisque. Integer gravida scelerisque est, ut pellentesque sem facilisis in. Quisque felis elit, laoreet id sagittis non, sollicitudin vitae turpis. Pellentesque quis quam sed nibh sollicitudin porttitor non ac sapien. Cras luctus egestas urna, vitae bibendum enim malesuada ut. Nulla porta tempus mi vel consequat. Aenean scelerisque porttitor felis, id elementum erat porttitor eu. Mauris vitae elit non lorem malesuada viverra non ac eros.</p>
                <p>Panel - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris et nulla facilisis eleifend. Sed metus orci, vulputate sit amet malesuada id, luctus vestibulum lacus. Sed faucibus, nibh vel faucibus porta, lectus lacus suscipit metus, ut posuere nulla dolor porttitor erat. Nam iaculis dolor et est tristique scelerisque. Integer gravida scelerisque est, ut pellentesque sem facilisis in. Quisque felis elit, laoreet id sagittis non, sollicitudin vitae turpis. Pellentesque quis quam sed nibh sollicitudin porttitor non ac sapien. Cras luctus egestas urna, vitae bibendum enim malesuada ut. Nulla porta tempus mi vel consequat. Aenean scelerisque porttitor felis, id elementum erat porttitor eu. Mauris vitae elit non lorem malesuada viverra non ac eros.</p>
            </div>

        </div>
</div>








<script type="text/javascript">
//removing this line per cubiq.org/swipeview comment to re-enable vertical scroll
// document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

var gallery,
  el,
  del,
  eel,
  i,
  page,
  dots = document.querySelectorAll('#navswipe li'),
  slides = <%= trip_activities_as_json.html_safe %>
  // [
  //   {
  //     "img": 'holder.js/160x120',
  //     "width": 300,
  //     "height": 213,
  //     "desc": 'Piazza del Duomo, Florence, Italy'
  //   },
  //   {
  //     img: 'holder.js/160x120',
  //     width: 300,
  //     height: 164,
  //     desc: 'Tuscan Landscape'
  //   },
  //   {
  //     img: 'holder.js/160x120',
  //     width: 300,
  //     height: 213,
  //     desc: 'Colosseo, Rome, Italy'
  //   },
  //   {
  //     img: 'holder.js/160x120',
  //     width: 147,
  //     height: 220,
  //     desc: 'Somewhere near Chinatown, San Francisco'
  //   },
  //   {
  //     img: 'holder.js/160x120',
  //     width: 300,
  //     height: 213,
  //     desc: 'Medieval guard tower, Asciano, Siena, Italy'
  //   },
  //   {
  //     img: 'holder.js/160x120',
  //     width: 165,
  //     height: 220,
  //     desc: 'Leaning tower, Pisa, Italy'
  //   }
  // ]
  ;

gallery = new SwipeView('#wrapper', { numberOfPages: slides.length });

// Load initial data
for (i=0; i<3; i++) {
  page = i==0 ? slides.length-1 : i-1;
  // el = document.createElement('img');
  // el.className = 'loading';
  // el.src = slides[page].img;
  // el.width = slides[page].width;
  // el.height = slides[page].height;
  // el.onload = function () { this.className = ''; }
  // gallery.masterPages[i].appendChild(el);

  //creating the centerimage
  el = document.createElement('div');
  el.className = 'centerimage';
  del = document.createElement('img');
  del.className = 'hung_image';
  del.src = '/assets/view_from_notre_dame_flickr_large.jpg';
  del.alt = 'Notre Dame View';
  el.appendChild(del);
  eel = document.createElement('h3');
  eel.innerHTML = '[Location Name] ' + slides[page].duration + ' hours';
  el.appendChild(eel);
  gallery.masterPages[i].appendChild(el);
  //creating the rightcaption
  el = document.createElement('div');
  el.className = 'rightcaption'; 
  del = document.createElement('p');
  del.className = 'lead';
  del.id = 'rightsidecaption';
  el.appendChild(del);
  del.innerHTML = slides[page].rightcaption;
  eel = document.createElement('div');
  eel.className = 'well well-small';
  eel.innerHTML = slides[page].quicktip;
  el.appendChild(eel);
  gallery.masterPages[i].appendChild(el);

  //I added to change text of trip-title-sub-text Day x of X in Location
  document.querySelector('span.trip-title-sub-text').innerHTML = 'Day '+ slides[gallery.pageIndex].activityday + ' of ' + slides[gallery.pageIndex].triplength + ' in ' + slides[gallery.pageIndex].triplocation ;
}

gallery.onFlip(function () {
  var el,
    del,
    eel,
    upcoming,
    i;

  for (i=0; i<3; i++) {
    upcoming = gallery.masterPages[i].dataset.upcomingPageIndex;

    if (upcoming != gallery.masterPages[i].dataset.pageIndex) {
      el = gallery.masterPages[i].querySelector('div.centerimage');
      del = gallery.masterPages[i].querySelector('img.hung_image');
      del.src = '/assets/view_from_notre_dame_flickr_large.jpg';
      del.alt = 'Notre Dame View';
      el.appendChild(del);
      eel = gallery.masterPages[i].querySelector('h3');
      eel.innerHTML = '[Location Name] ' + slides[upcoming].duration + ' hours';
      el.appendChild(eel);

      el = gallery.masterPages[i].querySelector('div.rightcaption');
      del = gallery.masterPages[i].querySelector('p#rightsidecaption');
      el.appendChild(del);
      del.innerHTML = slides[upcoming].rightcaption;
      eel = gallery.masterPages[i].querySelector('.rightcaption div');
      eel.innerHTML = slides[upcoming].quicktip;
      el.appendChild(eel);     

      // el = gallery.masterPages[i].querySelector('img');
      // el.className = 'loading';
      // el.src = slides[upcoming].img;
      // el.width = slides[upcoming].width;
      // el.height = slides[upcoming].height;

      // el = gallery.masterPages[i].querySelector('span');
      // el.innerHTML = slides[upcoming].desc;
    }
  }

  document.querySelector('#navswipe .selected').className = '';
  dots[gallery.pageIndex+1].className = 'selected';

  //I added to change text of trip-title-sub-text Day x of X in Location
  document.querySelector('span.trip-title-sub-text').innerHTML = 'Day '+ slides[gallery.pageIndex].activityday + ' of ' + slides[gallery.pageIndex].triplength + ' in ' + slides[gallery.pageIndex].triplocation ;
});

gallery.onMoveOut(function () {
  gallery.masterPages[gallery.currentMasterPage].className = gallery.masterPages[gallery.currentMasterPage].className.replace(/(^|\s)swipeview-active(\s|$)/, '');
});

gallery.onMoveIn(function () {
  var className = gallery.masterPages[gallery.currentMasterPage].className;
  /(^|\s)swipeview-active(\s|$)/.test(className) || (gallery.masterPages[gallery.currentMasterPage].className = !className ? 'swipeview-active' : className + ' swipeview-active');
});

</script>