<!-- Begin Trip Feedback form -->
  <%= render "trips/partials/feedback_form" %>
<!-- End Trip Feedback Form -->

<!-- Begin Trip Map Big View modal -->
  <%= render "trips/partials/trip_map_big_view_modal" %>
<!-- End Trip Map Big View modal -->

<!--Begin Trip Title Wrap -->
<div class = "it_title_box_wrap">

  <!--Begin Trip Title Box -->
  <div class="triptitlebox">
    <div class = "badge_buttons">
      <ul class = "unstyled badges-ul">
      <li>
        <a class= <%=traveler_type_badge_class(@trip.traveler_type[:traveler_type_name])%> ></a>
        <p>
          <%=@trip.traveler_type[:traveler_type_name]%>
        </p>
      </li>
      </ul>
    </div>

    <div class="trip_title_text">
      <p>
        <span class="trip_title_main_text title_large hidden-phone" data-content = '<%= render "trips/partials/summary_text_popover_content", :trip => @trip %>'>
          <%= @trip.trip_name %>
        </span> 
        <span class="trip_title_main_text title_subtitle visible-phone" data-content = '<%= render "trips/partials/summary_text_popover_content", :trip => @trip %>'>
          <%= @trip.trip_name %>
        </span> 
      </p>
              
      
      <span class="trip_title_sub_text caption_large hidden-phone"><%= @trip.duration %> Days in <%= @trip.location[:place] %></span>

      <span class="trip_title_sub_text caption_small visible-phone"><%= @trip.duration %> Days in <%= @trip.location[:place] %></span>
  
    </div>

    <!-- Begin Title Social Media -->
    <div class = "title_social_media">
        <!--Begin Social Media Box -->
        <div class="socialmediabox hidden-phone">
          <div class = "sm_box_item view_count">
            
            <% if !@trip_stats.blank? and @trip_stats.trip_views >  0 %>
              <i class="icon-eye-open"></i>
              <span class="sm_stat_text"><%= @trip_stats.trip_views %> Views</span>
            <% end %>
          </div>

          <div class = "sm_box_item comment_count">  
              <i class="icon-comments"></i>
              <span class="sm_stat_text"><a href="<%="#{request.fullpath.downcase}#disqus_thread"%>" data-disqus-identifier="<%="#{request.fullpath.downcase}"%>" id='dsq_comment_count'></a> Comments</span>
          </div>

          <div class = "it_facebook_share">
            <div id="fb-root"></div>
            <div class="fb-like" data-href="<%=  (Rails.env == "production") ? "#{url_for( :controller => 'trips', :action => 'show', :id => @trip.id, :only_path => false)}" : "http://espn.com" %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana" data-action="recommend">
            </div>
          </div>

          <div class ="it_share_this">
            <% use_this_url_st, which_url_msg_st = upload_or_foursquare_image_url_picker(@trip, :thumb, 300, 0) %>
            <span class="st_email" st_url="<%= "#{request.url}" %>" st_title="chalo.io: <%= @trip.trip_name.titleize %>" st_image="<%= url_with_protocol(use_this_url_st) %>" st_summary = "<%= @trip.trip_summary %>"></span><span class = "share_this_email_text">Email</span>
          </div>
        </div>
        <!--End Social Media Box -->

      <!-- Begin Like Box -->
      <div class="likebox">
        <!--Begin show overview button that shows up only on small screens-->
        <span class="toggle-menu" href="#trip_overview_modal" role="button" data-toggle="modal">
          Overview
        </span>
       <!--End show overview button that shows up only on small screens --> 
        <span class = "trip_useful_message hidden-phone">Was this trip summary useful?</span>
        <span class = "trip_useful_message visible-phone">Was this useful?</span>
        <span type="submit" class="useful_button" data-usefulurl="<%= publish_up_vote_trip_url(@trip) %>" id="useful_button" name="commit" >
          <i class="icon-heart-empty"></i>
        </span>
        <span class = "counter_o" style = "display: <%= (!@trip_stats.blank? and @trip_stats.useful > 0) ? "block" : "none" %>">
          <i></i>
          <u></u>
          <span class = "trip_useful_counter_div">
          <% if !@trip_stats.blank? and @trip_stats.useful >  0 %>
            <%= @trip_stats.useful %>
          <% else %>
            0  
          <% end %>
          </span>
        </span>
      </div>
      <!-- End Like Box -->
      
    </div>
    <!-- Begin Title Social Media -->
  <!--End Trip Title Box -->
</div>

  <% if !@trip.author_info.blank? %>
    <% author_handle = @trip.author_info.author_handle %>
    <!--Begin Trip Author Box -->
    <div class="authortitlebox">
      <!-- BEGIN it_al_left_wrap -->
      <div class = "it_al_left_wrap">
          <%= link_to !author_handle.blank? ? "/" + author_handle  : author_page_author_info_path(@trip.author_info.id) do %>
            <div class="trip_title_auth_pic">
              <% if !@trip.author_info.self_image.blank? %>
                   <%= image_tag(@trip.author_info.self_image_url(:passport), :alt => "profile", :class => "auth_img_tag") %>
              <% else %>
                  <%= image_tag avatar_url(@trip.author_info), :alt => "profile", :class => "auth_img_tag" %>
              <% end %>
            </div>
          <% end %>
      <span class="trip_title_sub_text caption_large hidden-phone">  
        <p class = "it_author_name_link author_intrip_popover" data-content = '<%= render "trips/partials/author_popover_content", :trip => @trip %>'>  
          <% if !@trip.author_info.author_name.blank? %>
            <%= link_to @trip.author_info.author_name, !author_handle.blank? ? "/" + author_handle  : author_page_author_info_path(@trip.author_info.id), :class => "ab_author_name title" %>
          <% else %>
            <% if !current_author_info.blank? and @trip.author_info.id.to_s == current_author_info.id.to_s %>
              <%= link_to 'Your Name is Missing', author_info_about_edit_url(:protocol => (Rails.env.production? and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %>
            <% else %>
              <%= link_to "Author #{@trip.author_info.id}", !author_handle.blank? ? "/" + author_handle  : author_page_author_info_path(@trip.author_info.id), :class => "ab_author_name title" %>
            <% end %>
          <% end %>
        </p>
      </span>
        <p class = "ab_author_website hidden-phone"><%= link_to @trip.author_info.website, url_with_protocol(@trip.author_info.website), :class => "trip_title_sub_text", :target => "_blank" unless @trip.author_info.website.blank? %> 
        </p>
      </div>
      <!-- END it_al_left_wrap -->

      <div class = "it_al_right_wrap hidden-phone">
        <!-- BEGIN AUTHOR LEVEL BADGE -->
        <% author_level_name, author_level_class, min_useful, next_level, tooltip_msg = author_level(@trip.author_info) %>
        <div class = "it_al_badge_wrap author_level_tooltip" data-toggle="tooltip" data-placement="left" title="<%="#{tooltip_msg}"%>" >
          <div class = "al_badge_container centerize" >
            <div class = "<%= author_level_class %>"></div>
            <span class = "al_badge_name"><%= author_level_name %></span>
          </div>
        </div>
        <!-- END AUTHOR LEVEL BADGE -->
      </div>
    </div>
    <!-- End Trip Author Box -->
  <% else %>
    <span> Author information unknown </span>
  <% end %>

</div>
<!--End Trip Title Wrap -->

<div class= "wrapper_film" id="filmstrip-scroll">
  
  <div class="overview_button_wrapper">

  </div>

  <div class="filmstrip">
    <ul id="navswipe">
      <%= render "trips/partials/trip_summary_detail" %>
    </ul>
  </div>
</div>

<div id="wrappiest">
  <%= image_tag("/assets/spinners/ajax-loader.gif", :class => "swipe_loading_indicator") %>
  <%= render "trips/partials/trip_overview_modal" %>
  <%= render "trips/partials/map_overview_modal" %>

  <!-- /navigation arrows -->
  <div class="bottomnavigationbar" id="leftnavigation" onclick="trips_namespace.gallery.prev()"><i class="icon-chevron-left"></i></div>
        
  <div class="bottomnavigationbar" id="rightnavigation" onclick="trips_namespace.gallery.next()"  ><i class="icon-chevron-right"></i></div>
  <!-- /end navigation arrows -->

  <div id="loadjs" data-activities="<%= @compressed_activities.to_json %>">
  </div>

  <div id="swipewrapper"></div>
</div>

<script type="text/javascript">



</script>