<div class="triptitlebox">

  <div class="trip-title-text">
    <p>
      <span class="trip-title-main-text"><%= @trip.trip_name %></span> 
      <span class="trip-title-sub-text"> - <%= @trip.duration %> Days in <%= @trip.location[:place] %></span>
    </p>
    
      <!--Begin show overview button that shows up only on small screens-->
      <label class="toggle-menu" href="#trip-overview-modal" role="button" data-toggle="modal">
        <i class="icon-reorder icon-border"></i>
      </label>
      <!--End show overview button that shows up only on small screens -->
    
    <small>by <%= @author.author_name %></small>
  </div>

  <div class = "badge_buttons">
    <ul class = "unstyled badges-ul">
    <li>
      <a class= <%=traveler_type_badge_class(@trip.traveler_type[:traveler_type_name])%> ></a>
      <p><%=@trip.traveler_type[:traveler_type_name]%></p>
    </li>
    </ul>
  </div>

  <!--Begin show overview button that shows up only on small screens-->
  <label class="toggle-menu" href="#trip-overview-modal" role="button" data-toggle="modal">
    <i class="icon-reorder icon-border"></i>
  </label>
  <!--End show overview button that shows up only on small screens -->

  <div class="socialmediabox">
    <div id="fb-root"></div>

      <div class="fb-like" data-href="http://espn.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana" data-action="recommend">
      </div>
  </div>

</div>

<div class= "wrapper-film" id="filmstrip-scroll">
  
  <div class="overview-button-wrapper">
    <!-- Button to trigger modal -->
    <a href="#trip-overview-modal" role="button" class="btn btn-large btn-inverse overview-button" data-toggle="modal"><i class="icon-list overview-icon"></i> </br><span class="overview-button-text">Overview</span></a>

  </div>

  <div class="filmstrip">
    <ul class="media-list" id="navswipe">
      <%= render "trips/partials/filmstrip-thumbnails" %>
    </ul>
  </div>
</div>

<div id="wrappiest">
  <%= image_tag("/assets/spinners/ajax-loader.gif", :class => "swipe-loading-indicator") %>
  <%= render "trips/partials/trip-overview-modal" %>

<!-- Container that fills the screen: do not remove! -->    
    <div class="mapModalMask"></div>

<!-- Map Modal -->
  <div id="mapModal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-body">
      
      <!-- Begin Button Group -->  
      <div id="mapHideGroup">
        <div id="mapHide" class="icon-remove"></div>
      </div>
      <!-- End Button Group -->  
      
      <div id="modal_map"></div>
    </div>
  </div>
<!-- End Map Modal -->

  <!-- /navigation arrows -->
  <div class="bottomnavigationbar" id="leftnavigation" onclick="trips_namespace.gallery.prev()"><i class="icon-chevron-left"></i></div>
        
  <div class="bottomnavigationbar" id="rightnavigation" onclick="trips_namespace.gallery.next()"  ><i class="icon-chevron-right"></i></div>
  <!-- /end navigation arrows -->

  <div id="loadjs" data-activities="<%= @compressed_activities.to_json %>">
  </div>

  <div id="swipewrapper"></div>
</div>

<script type="text/javascript">



</script>