<table>
  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.trip_name %></td>
      <td><%= link_to 'Show', trip %></td>
      <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
      <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br/>
<%= will_paginate @trips %>
<br />
