<%= content_for :head do %>
  <html xmlns:fb="http://ogp.me/ns/fb#">
  <meta property="og:title" content=<%= (params[:place] == nil) ? "chalo.io": params[:place] %> />
  <meta property="og:type"  content="website" /> 
  <meta property="og:url"   content="<%= "#{request.url}" %>"/> 
  <meta property="og:image" content="<%= "#{request.env['rack.url_scheme']}" + "://" + "#{request.host_with_port}" + asset_path("logos/fb_profile_chaloio_180x180.png")  %>" /> 
  <meta property="og:description" content="<%= "We make your travel planning easy. Check out trip summaries " + ((params[:place] == nil) ? "to your favorite destinations at chalo.io": ("to" + params[:place]) + " at chalo.io")  %>" />
  <meta property="og:site_name" content=<%= request.env["HTTP_HOST"] %> />
  <meta property="og:locale" content="en_US" />
  <meta property="fb:app_id" content="371948146237702"/>
<% end %>

<% if (params[:featured] == "1") %>
  <%= render 'trips/partials/hero_unit' %>
<% end %>  

<% if ((params["show_hero"] && params["show_hero"] == 'false') or (params[:featured] != "1"))%>  
  <div class = "results_search_and_filter bottom_color_border container ">
    <div class="results_searchbar_container">
      <%= render 'trips/partials/results_searchbar' %>
    </div>

  </div>
<% end %>

<div class="container middle_results_container">
  <% if ((params["show_hero"] && params["show_hero"] == 'false') or (params[:featured] != "1")) %>
    <div class="results_flash_message">
      <%= render :partial => 'layouts/messages', :locals => { :flash => flash } %>
    </div>
  
    <div id="results_breadcrumbs">
        <%= render 'trips/partials/results_breadcrumbs' %>
    </div>
  <% end %>  
      
  <% if @trips or @trips_to_add %>
    <div id="trips_landmark_container">
      <%= render 'trips/partials/landmarks_filtering' %>
    </div>
  <% end %>

  <div id="trips_results_container">
    <% if ((params["show_hero"] && params["show_hero"] == 'false') or (params[:featured] != "1")) %>
      <%= render 'trips' %>
    <% else %>
      <%= render 'trips/partials/featured_trips' %>
    <% end %>  
  </div>

  <div id="page-pagination-div">
    <%= will_paginate @trips %>
  </div>
  <a href='#' id='scrolltotop' style='display:none;'>Scroll to Top </a>

  <div class ='continuous_loading_indicator_wrapper'>
    <%= image_tag("/assets/spinners/ajax-loader-dots.gif", :class => "continuous_scroll_spinner") %>
    <p>Loading Trips...</p>
  </div>

  <footer class="row">
    <div class = "span12 index_footer">
      <div class="index_foursquare_attribution caption_small">Location images and details powered by 
        <%= link_to image_tag('/assets/logos/foursquare-icon-16x16.png', :class=> "index_social_icon"), raw("https://foursquare.com"), :target => "_blank"%>
      </div>

      <% if admin? %>  
        <div class = "span6">
          <%= link_to 'New Trip', new_trip_path %>
        </div>
      <% end %>
    </div>
  </footer>

</div> <!--! end of .container -->
