<%= content_for :head do %>
  <html xmlns:fb="http://ogp.me/ns/fb#">
  <meta property="og:title" content=<%= (params[:place] == nil) ? "chalo.io": params[:place] %> />
  <meta property="og:type"  content="website"> 
  <meta property="og:url"   content=<%= request.env["REQUEST_URI"] %>> 
  <meta property="og:image" content=<%= " todo add logo"  %> > 
  <meta property="og:description" content="<%= "check out trips to " + ((params[:place] == nil) ? "chalo.io": params[:place])  %>">
  <meta property="og:site_name" content=<%= request.env["HTTP_HOST"] %>/>
  <meta property="og:locale" content="en_US" />
  <meta property="fb:admins" content="371948146237702" />
  <meta property="fb:app_id" content="537855380,3406777"/>
<% end %>


<%= stylesheet_link_tag "jquery.ui.datepicker.css.erb" %>

<%= link_to 'New Trip', new_trip_path %>

<%= form_tag trips_path, :method => 'get' do %>
  <p>
    <%= text_field_tag "place", params[:place], :placeholder => "you would like to go to?" %>
    <%= hidden_field_tag "trip_location_id", params[:trip_location_id] %>
     as a <br/>    
    <%#= select("traveler_type_id", "traveler_type_id",  TravelerType.all.collect {|t| [ t.traveler_type_name, t.traveler_type_id]}) %> traveler between <br/> 
    <%= select_tag :traveler_type_id, options_from_collection_for_select(TravelerType.find(:all), "traveler_type_id", "traveler_type_name", params[:traveler_type_id]), :multiple => true %>
    <%= text_field_tag :from, params[:from] %> and
    <%= text_field_tag :to, params[:to] %> <br/>
    <%= submit_tag "Search Trips", :name => nil %>
  </p>
<% end %>

<br/>
<% if @trips_locations %>
  <% @trips_locations.each do |trips_location| %>
    <%= trips_location.name %>
    <br/>
  <% end %>
<% end %>

<% if @trips_restaurants %>
  <% @trips_restaurants.each do |trips_restaurant| %>
    <%= trips_restaurant.name %>
    <%= trips_restaurant.food_activities.count %>
    <br/>
  <% end %>
<% end %>
<br/> <br/>
<%= @message_with_trip_render %> 
<br/>
<div id="trips"><%= render 'trips' %></div>

<%= will_paginate @trips %>
<a href='#' id='scrolltotop' style='display:none;'>Scroll to Top </a>

