<%= content_for :head do %>
  <html xmlns:fb="http://ogp.me/ns/fb#">
  <meta property="og:title" content=<%= (params[:place] == nil) ? "chalo.io": params[:place] %> />
  <meta property="og:type"  content="website"> 
  <meta property="og:url"   content=<%= request.env["REQUEST_URI"] %>> 
  <meta property="og:image" content=<%= " todo add logo"  %> > 
  <meta property="og:description" content="<%= "check out trips to " + ((params[:place] == nil) ? "chalo.io": params[:place])  %>">
  <meta property="og:site_name" content=<%= request.env["HTTP_HOST"] %>/>
  <meta property="og:locale" content="en_US" />
  <meta property="fb:admins" content="371948146237702" />
  <meta property="fb:app_id" content="537855380,3406777"/>
<% end %>

<% unless params["show_hero"] == 'false' %>
  <%= render 'trips/partials/hero-unit' %>
<% else %>

<% end %>  

<div class="container">
  
<div class="results-searchbar-container">
  <% if params["show_hero"] && params["show_hero"] == 'false' %>
    <%= render 'trips/partials/results-searchbar' %>
  <% else %>
  <% end %>  
</div>

<% if @trips %>
  <div id="trips-landmark-container">
    <% if params["show_hero"] && params["show_hero"] == 'false' %>
      <%= render 'trips/partials/landmarks-filtering' %>
    <% else %>
    <% end %>
  </div>
<% end %>

<div class="results-flash-message">
  <% if params["show_hero"] && params["show_hero"] == 'false' %>
    <%= render :partial => 'layouts/messages', :locals => { :flash => flash } %>
  <% else %>
  <% end %>  
</div>
 
<div id="results-breadcrumbs">
  <% if params["show_hero"] && params["show_hero"] == 'false' %>
    <%= render 'trips/partials/results-breadcrumbs' %>
  <% else %>
  <% end %>
</div>



<div id="trips-results-container">


  <% if params["show_hero"] && params["show_hero"] == 'false' %>
    <%= render 'trips' %>
  <% else %>
    <%= render 'trips/partials/featured-trips' %>
  <% end %>  
</div>

<div id="page-pagination-div">
  <%= will_paginate @trips %>
</div>
<a href='#' id='scrolltotop' style='display:none;'>Scroll to Top </a>

<div class ='continuous-loading-indicator-wrapper'>
  <%= image_tag("/assets/spinners/ajax-loader-dots.gif", :class => "continuous-scroll-spinner") %>
  <p>Loading Trips...</p>
</div>

<footer>
<% if admin? %>  
  <%= link_to 'New Trip', new_trip_path %>
<% end %>
</footer>

</div> <!--! end of .container -->
