<%= content_for :head do %>
  <html xmlns:fb="http://ogp.me/ns/fb#">
  <meta property="og:title" content=<%= (params[:place] == nil) ? "chalo.io": params[:place] %> />
  <meta property="og:type"  content="website"> 
  <meta property="og:url"   content=<%= request.env["REQUEST_URI"] %>> 
  <meta property="og:image" content=<%= " todo add logo"  %> > 
  <meta property="og:description" content="<%= "check out trips to " + ((params[:place] == nil) ? "chalo.io": params[:place])  %>">
  <meta property="og:site_name" content=<%= request.env["HTTP_HOST"] %>/>
  <meta property="og:locale" content="en_US" />
  <meta property="fb:admins" content="371948146237702" />
  <meta property="fb:app_id" content="537855380,3406777"/>
<% end %>

<!-- Begin Hero Unit -->
<div class="hero-unit big-image-header">
    <!-- Begin Splash Image Container -->
    <div class = "splash-image-container">
      <!-- Begin Splash Form Container -->
      <div class = "splash-form-container">
        <!-- Begin Form Centering -->
        <div class ="form-centering">
        <%= form_tag trips_path, :method => 'get', :remote => true do %>
          <p class ="hero-form">
            
            <span>Show me trip summaries for 
            <%= text_field_tag "place-text-field", params[:place], :placeholder => "you would like to go to?" %>
            <%= hidden_field_tag "trip_location_id", params[:trip_location_id] %> <br/>
            </span>
            
            <span>
            as a     
            <%#= select("traveler_type_id", "traveler_type_id",  TravelerType.all.collect {|t| [ t.traveler_type_name, t.traveler_type_id]}) %> 
            <%= select_tag :traveler_type_id, options_from_collection_for_select(TravelerType.find(:all), "traveler_type_id", "traveler_type_name", params[:traveler_type_id]), :multiple => true, :class => "traveler-type-multiselect" %>
            traveler
           </span>
            <br/>

            <span> 
            between <%= text_field_tag :from, params[:from] %> and
            <%= text_field_tag :to, params[:to] %> 
            </span> 
            <br/>
            
            <%= submit_tag "Search Trips", :name => nil, :class => 'btn' %>
          </p>
        <% end %>
        </div>
        <!-- End Form Centering -->
      </div>
      <!-- End Splash Form Container -->
    </div>
    <!-- End Splash Image Container -->
  </div>
  <!-- End Hero Unit -->

<div class="container" id="maincontainer">
    <div class="content">
       <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
        </div>
      </div>
    </div>

<%= @message_with_trip_render %> 
<br/>
<div class="row" id="trips-landmark-container"></div>
<div class="row" id="trips-results-container"><%= render 'trips' %></div>

<div id="page-pagination-div">
  <%= will_paginate @trips %>
</div>
<a href='#' id='scrolltotop' style='display:none;'>Scroll to Top </a>

<div class ='row continuous-loading-indicator-wrapper'>
  <%= image_tag("/assets/spinners/ajax-loader-dots.gif", :class => "continuous-scroll-spinner") %>
  <p>Loading Trips...</p>
</div>

<footer>
  <%= link_to 'New Trip', new_trip_path %>
</footer>

</div> <!--! end of .container -->
