<%= content_for :title do %>
  chalo.io - Create New Trip Summary
<% end %>

<!-- Begin Cover Image Select for Trip-->
<%= render "shared/publish/cover_select_image_modal" %>
<!-- End Cover Image Select for Trip-->

<div class = "container publish_container">
  
  <div class="publish_flash_message">
    <%= render :partial => 'layouts/messages', :locals => { :flash => flash } %>
  </div>

  <!-- Begin Row-->
  <div class = "row">
      <!-- Begin Form Completion Status Container -->
      <%= render "trips/partials/publish/completion_status_widget" %>
      <!-- End Form Completion Status Container -->
    
    <div class="tab-content">
      <div class="tab-pane active" id="trip_details">
        <%= render "shared/publish/publish_trip_details_form" %>
      </div>

    </div>
  </div>
  <!-- End Row -->

</div>