<%= content_for :title do %>
  chalo.io - Review Trip Summary
<% end %>

<div class = "container publish_container">
  
  <div class="publish_flash_message">
    <%= render :partial => 'layouts/messages', :locals => { :flash => flash } %>
  </div>

  <!-- Begin Row-->
  <div class = "row">
    <%= link_to "Preview", trip_url(@trip), :class => "btn-flat btn-flat-info pull-right", :target => "_blank" %>
    <!-- Begin Form Completion Status Container -->
    <%= render "trips/partials/publish/completion_status_widget" %>
    <!-- End Form Completion Status Container -->

    <div class="tab-content">
      <!-- Begin Collapse 1-->
      <div class="tab-pane active" id="trip_details">

          <span class="help-inline publish_form_required_label">
            Personalize the title and tell us more about the trip before you share this trip with the world. :)
          </span>
          <br>
          <br>
        <%= form_for @trip, :url => @trip_publish, :html => {:class => "form-horizontal pt_confirm_form", :multipart => true} do |f| %>

          <% if @trip.errors.any? %>
            <div id="error_explanation">
              <ul>      
                <% @trip.errors.messages.each do |attr, msg| %>
                  <li><%= msg.first %></li>
                <% end %>
              </ul>      
            </div>
          <% end %>
          
          <div class = "pt_gray_box">
            <%= render "shared/publish/publish_trip_confirm_form", :f => f  %>
          </div>
          
          <div class = "row">
            <div class = "span12">
              <p class = "centerize">
                <strong>
                <% blank_fields, bf_sentence = trip_author_missing_profile(@trip.author_info) %>
                <% if blank_fields.length > 1 %>
                  Your Author Profile would be better with your: <%= bf_sentence %>.</br>
                  Would you like to update it to make your trip summary more useful?
                <% else %>
                  Your profile looks good!
                <% end %>
                <%= link_to 'Edit Profile', author_info_about_edit_url(:protocol => (Rails.env.production? and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http"), :target => "_blank" %>
                </strong>
              </p>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <% if @trip.share_status == 0 %>
                <%= f.submit "Publish", :name => @trip_name, :id => "trip_form_submit", :class => "btn-flat btn-flat-success btn-flat-large pull-right" %>
              <% elsif @trip.share_status == 1 %>
                <%= f.submit "Update", :name => @trip_name, :id => "trip_form_submit", :class => "btn-flat btn-flat-primary btn-flat-large pull-right" %>
              <% end %>
            </div>
          </div>

        <% end %>
        <div class="error_msg"></div>

      </div>
    </div>
    <!-- End Collapse 1-->
  </div>
  <!-- End Row -->
</div>