<%= content_for :head do %>
  <html xmlns:fb="http://ogp.me/ns/fb#">
  <meta property="og:title" content="chalo.io: <%= @trip.trip_name %>" />
  <meta property="og:type"  content="website" /> 
  <meta property="og:url"   content="<%= "#{request.url}" %>"/>  
  <% self_image = (@trip.self_image == "" or @trip.self_image == nil) ? "" : @trip.self_image_url(:passport) %>
  <% other_image = select_image_given_image_urls(@trip.image_url, 100) %>
  <% final_image = (self_image != "" and self_image != nil) ? self_image : other_image %>
  <meta property="og:image" content="<%= final_image %>" />
  <meta property="og:description" content="<%= @trip.trip_summary %>" />
  <meta property="og:site_name" content="CHALO" />
  <meta property="fb:app_id" content="371948146237702"/>
<% end %>

<%= content_for :title do %>
  <%= @trip.trip_name.capitalize %>: <%= @trip.duration %> Days in <%= @trip.location[:place] %> by <%= @trip.author_info.author_name %>
<% end %>

<%= content_for :description do %>
  <%= @trip.trip_summary %>
<% end %>

<%= render "sideswipe" %>

<div id ="bottom_actionlinks">
  <div class = "buffer_comments"><p class= "caption_title"> Leave a Comment About This Trip </p>
  </div>
  <div class ="div_fb_comments">
    <fb:comments href="<%=  (Rails.env == "production") ? "#{url_for(:only_path => false)}" : "http://espn.com" %>" num_posts="10" id="comments" colorscheme="light" mobile=false></fb:comments>
  </div> 
</div>

</br>


<% if admin? %>
  <div class="span12">
    <%= link_to 'Add Activity', new_trip_trip_activity_path(@trip) %> <br/>
    <%= link_to 'Edit', edit_trip_path(@trip) %> | <%= link_to 'Back', root_url %> 
  </div>
<% end %>


