<%= content_for :head do %>
  <html xmlns:fb="http://ogp.me/ns/fb#">
  <meta property="og:title" content="chalo.io: <%= @trip.trip_name %>" />
  <meta property="og:type"  content="website" /> 
  <meta property="og:url"   content=<%= request.env["REQUEST_URI"] %> /> 
  <meta property="og:image" content="<%= select_image_given_image_urls(@trip.image_url, 100) %>" />
  <meta property="og:description" content="<%= @trip.trip_summary %>" />
  <meta property="og:site_name" content=<%= request.env["HTTP_HOST"] %>/>
  <meta property="fb:admins" content="371948146237702" />
  <meta property="fb:app_id" content="537855380,3406777"/>
<% end %>

<%= render "sideswipe" %>

<div id ="bottom_actionlinks">
  <div class = "buffer_comments"><p class= "caption_title"> We'd love to hear from you! Join the conversation! </p>
  </div>
  <div class ="div_fb_comments">
    <!-- <fb:comments-count href="http://espn.com"></fb:comments-count> awesome comments <br/> -->
    <fb:comments href=<%=  (Rails.env == "production") ? "request.env[:REQUEST_URI]" : "http://espn.com" %> num_posts="10" id="comments" colorscheme="light" mobile=false></fb:comments>
  </div> 
</div>

</br>

<div class="span12">
  Footer
  <% if admin? %>
    <%= link_to 'Add Activity', new_trip_trip_activity_path(@trip) %> <br/>
    <%= link_to 'Edit', edit_trip_path(@trip) %> | <%= link_to 'Back', root_url %> 
  <% end %>
</div>

