<p id="notice"><%= notice %></p>

<% if @trip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

    <ul>
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

name: <%= @trip.trip_name %>  <br/>id: <%= @trip.trip_id %> <br/>duration: <%= @trip.duration %> <br/>location: <%= @trip.location_id %> <br/>traveler type: <%= @trip.traveler_type_id %> <br/>summary: <%= @trip.trip_summary %> <br/>author id: <%= @trip.author_id %> <br/>


<%= link_to 'Add Activity', new_trip_activity_path(:trip_id => @trip.id) %> <br/>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
