  <h3 class ="results-title">Featured Trips</h3>
  <!--Begin Trip Result ul group -->
  <ul class="thumbnails">
    <!--Begin Trip Result Pagination Div -->
    <div id = "<%= "trips_page" + ((params[:page].nil?)? "0": params[:page]) %>">
      <% @trips.each do |trip| %>
        
        <!--Begin Trip Result List Item-->
        <li class="trip-result-thumbnail-li">
          
          <!--Begin Trip Result Thumbnail Wrapper-->
          <div class="thumbnail trip-result-thumbnail-div">

            <div class="caption-box-social">
              <div id="fb-root"></div>
              <div class="fb-like" data-href="http://espn.com" data-send="true" data-layout="button_count" data-width="200" data-show-faces="true" data-font="verdana" data-action="recommend"></div>
            </div>
            
            <div class="result-thumb-wrap">
            <%= link_to trip do %>
              <%= image_tag(select_image_given_image_urls(trip.image_url, 300), {:class => "image-link-thumbnail"}) %>
            <% end %>
            </div>

            <!--Begin Trip Result Caption-->
            <div class="caption trip-results-caption">

              <!--Begin Traveler Type Badge -->
              <div class = "caption-badge_buttons">
                <ul class = "unstyled caption-badges-ul">
                <li>
                  <a class= <%=traveler_type_badge_class((trip.traveler_type_id) ? trip.traveler_type[:traveler_type_name] : "other")%> ></a>
                  <p><%=(trip.traveler_type_id) ? trip.traveler_type[:traveler_type_name] : "other"%></p>
                </li>
                </ul>
              </div>
              <!--End Traveler Type Badge -->
              
              <h3><%= trip.trip_name %></h3>
              <p class="caption-trip-subtitle"> <%= trip.duration %> Days in <%= (trip.location_id && trip.location) ? trip.location[:place] : "unknown" %> | by <%= trip.author_info.author_name %> </p>
              <p class="caption-trip-summary"><%= trip.trip_summary %><p>


            </div>
            <!--End Trip Result Caption-->
          </div>
          <!--End Trip Result Thumbnail Wrapper-->
        </li>
        <!--End Trip Result List Item-->
      <% end %>
    
    </div>
    <!--End Trip Result Pagination Div -->
  </ul>
  <!--End Trip Result ul group -->
