          <li class="media selected" onclick="gallery.goToPage(0)">
            
            <!-- thumb-wrapper div -->  
            <div class="thumb-wrap"> 
              <!-- image -->
              <div data-picture data-alt="<%=thumbnail_name(0)%>">
                <div data-src="<%=show_thumbnail(0, 36)%>" > </div>
                <div data-src="<%=show_thumbnail(0, 100)%>" data-media="(min-width: 480px)"></div>
                <div data-src="<%=show_thumbnail(0, 300)%>" data-media="(min-width: 767px)"></div>

                <!--[if (lt IE 9) & (!IEMobile)]>
                <div data-src="medium.jpg"></div>
                <![endif]-->
                
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                    <img src="<%=show_thumbnail(0,6)%>" alt="<%=thumbnail_name(0)%>">
                </noscript>
              </div>
                <!-- thumb-description div -->  
                <div class="thumb-description">
                  <!-- description content --> 
                  <p class='description_content'><%=thumbnail_name(0)%></p>
                  <!-- end description content -->     
                </div>
                <!-- end description div -->
              </div>
              <!-- end wrapper div -->   

          </li>
          <% for i  in 1..(trip_activities_as_json.count('{'))-1 %>
            <li class="media" onclick="gallery.goToPage(<%= i %>)">

            <!-- thumb-wrapper div -->  
            <div class="thumb-wrap"> 
              <!-- image -->              
              <div data-picture data-alt="<%=thumbnail_name(i)%>">
                <div data-src="<%=show_thumbnail(i,36)%>" > </div>
                <div data-src="<%=show_thumbnail(i,100)%>" data-media="(min-width: 480px)"></div>
                <div data-src="<%=show_thumbnail(i, 300)%>" data-media="(min-width: 767px)"></div>

                <!--[if (lt IE 9) & (!IEMobile)]>
                <div data-src="medium.jpg"></div>
                <![endif]-->
                
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                    <img src="<%=show_thumbnail(i,6)%>" alt="<%=thumbnail_name(i)%>">
                </noscript>
              </div>
                <!-- thumb-description div -->  
                <div class="thumb-description">
                  <!-- description content --> 
                  <p class='description_content'><%=thumbnail_name(i)%></p>
                  <!-- end description content -->     
                </div>
                <!-- end description div -->
              </div>
              <!-- end wrapper div -->  

            </li>
          <% end %> 
