<!-- Begin Hero Unit -->
<div class="hero_unit big_image_header">

    <!-- Begin Splash Image Container -->
    <div class = "splash_image_container">
      <!-- Begin splash_image_attribution -->
      <div class = "splash_image_attribution hidden-phone">
      Photo by <%= link_to "zoetnet", raw("http://www.flickr.com/photos/zoetnet/4850848041/"), :target => "_blank"%>
      </div>  
      <!-- End splash_image_attribution -->

      <!-- Begin text_standout_blob -->
      <div class = "text_standout_blob hidden-phone">
      </div>  
      <!-- End text_standout_blob -->

      <!-- Begin Splash Form Container -->
      <div class = "container splash_form_container">
        <!-- Begin Form Centering -->
        <div class ="form_centering">
          <!-- Begin Tag-Line Overlay -->
          <div class="hero_tag_line">
            Discover Share Plan Experiences
          </div>
          <!-- End Tag-Line Overlay -->
          <%= form_tag trips_path, :method => 'get', :class => 'hero_form' do %>
            <div class = "hero_form_left">  
              <%= select_tag :place_dropdown_field, options_from_collection_for_select(Location.find(:all, :limit => 1) + Location.joins(:trips).where('trips.share_status' => '1').uniq, "location_id", "location_label", params[:place]), :multiple => false, :prompt => "Where would you like to go?", :class => "place_dropdown_field selectpicker" %>
            </div>
              <%= hidden_field_tag "place_text_field", params[:place], :class => "hero-hidden-place-field" %>
            
              <%= hidden_field_tag "trip_location_id", params[:trip_location_id], :class => "hero_trip_location_id" %>                          
            <div class = "hero_form_left  hidden-phone">
              <%= select_tag :traveler_type_id, options_from_collection_for_select(TravelerType.find(:all, :limit => 4), "traveler_type_id", "traveler_type_name", params[:traveler_type_id]), :multiple => true, :class => "traveler_type_multiselect" %>                    
            </div>
            <!--
            <div class="input-prepend hero_from_prepend">
              <span class="add-on">from</span>
              <%# text_field_tag :from, params[:from], :class => "from-datefield input-small", :id => "from-datefield" %> 
            </div>
            -->
            <!-- BEGIN COMMENTING OUT THE DAYS FIELD -->
<!--             <div class="input-append hero_days_append">
              <%# select_tag :days, options_for_select((1..10).step(1).to_a.map{|s| ["#{s} Days", s]}, "3"), :class => "results_day_field selectpicker", :id => "results_day_field" %>
            </div> --> 
            <!-- END COMMENTING OUT THE DAYS FIELD -->
            
            <%= submit_tag "Search Trips", :name => nil, :class => 'btn btn-primary splash_submit_button', :id => "search_submit_button" %>
          <% end %>
          <div class = "error_msg"></div>
        </div>
        <!-- End Form Centering -->
      </div>
      <!-- End Splash Form Container -->
    </div>
    <!-- End Splash Image Container -->
  </div>
  <!-- End Hero Unit -->