Showing trips 
<% if params["place-text-field"]  %> 
 for <%=  params["place-text-field"] %>
<% end %>
<% if params["from"] %>
 starting <%= params["from"] %>
<% end %>
<% if params["days"] %>
 for <%= params["days"] %> days
<% end %>
<% if params["traveler_type_id"] %>
  for 
  <% @traveler_types.each do |traveler_type| %>
    <%= traveler_type[:traveler_type_name] %>
  <% end %> 
<% end %>
<% if @locations %>
  <ul class="breadcrumb">
    <% @locations.each_with_index do |location, index| %>
      <li><%= link_to location.name, params.merge({:location => location.location_detail_id}), :remote=>true %> <%= location.location_activities.count %>  <% if index < @locations.length - 1 %> <span class="divider">/</span> <% end %> </li>
    <% end %>
  </ul>
<% end %>
<br/> <br/>
<% if @restaurants %>
  <ul class="breadcrumb">
    <% @restaurants.each_with_index do |restaurant, index| %>
      <li> <%= link_to restaurant.name, params.merge({:restaurant => restaurant.restaurant_detail_id}), :remote=>true %> <%= restaurant.food_activities.count %> <% if index < @restaurants.length - 1 %> <span class="divider">/</span> <% end %> </li>
    <% end %>
  </ul>
<% end %>
