<%= form_tag trips_path, :method => 'get', :remote => false, :class => 'droptoggle_form' do %>
  <%= hidden_field_tag "show_hero", params[:show_hero], :value=> false %> 
  <%= hidden_field_tag "place_text_field", params[:place], :placeholder => "Where would you like to go?", :class => "drophide-place-field", :id => "drophide-place-field" %>
  <%= hidden_field_tag "trip_location_id", params[:trip_location_id], :class => "dropdown_trip_location_id" %> 

  <div class="control-group">
    <div class="controls">
      <%= select_tag :traveler_type_id, options_from_collection_for_select(TravelerType.find(:all, :limit => 4), "traveler_type_id", "traveler_type_name", params[:traveler_type_id]), :multiple => true, :class => "dropdown_traveler_type_multiselect", :id => "dropdown_traveler_type_id" %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <!--
        <div class="input-prepend from_prepend">
          <span class="add-on">from</span>  
          <%= text_field_tag :from, params[:from], :class => "dropdown-from-datefield input-small", :id => "dropdown-from-datefield" %>
        </div>
      -->
      <div class="input-append day_form_input_append">
        <%= select_tag :days, options_for_select((1..10).step(1).to_a.map{|s| ["#{s} Days", s]}, "3"), :class => "results_day_field selectpicker", :id => "results_day_field" %>
      </div>
    </div>
  </div>
  
  <div class="control-group button-control-group">
  <button type="button" class="btn-flat btn-flat-danger dropdown-close-button">Cancel</button>
  <%= submit_tag "Search Trips", :name => nil, :class => 'btn-flat btn-flat-primary dropdown-search-button', :id => "search_submit_button"  %>
  </div>
<% end %>
<div class = "small_error_msg"></div>