<div class = "results_searchbar">
  <!-- Begin Form Centering -->
  <div class ="results_form_centering">

      <%= form_tag trips_path, :method => 'get', :class => 'results_hero_form', :remote => false do %>
        <span class = "hero_form_left">  
          <%= select_tag :place_dropdown_field, grouped_options_for_select(self.get_locations(), params["trip_location_id"].to_s), :multiple => false, :class => "results_place_dropdown_field selectpicker" %>
          
          <%= hidden_field_tag "place_text_field", params[:place], :class => "results_hidden_place_field", :value=> params["place_text_field"] %>
        
          <%= hidden_field_tag "trip_location_id", params[:trip_location_id], :class => "results_trip_location_id", :value=> params["trip_location_id"] %>                          

          <%#= select("traveler_type_id", "traveler_type_id",  TravelerType.all.collect {|t| [ t.traveler_type_name, t.traveler_type_id]}) %> 
          <%= select_tag :traveler_type_id, options_from_collection_for_select(TravelerType.find(:all, :limit => 4), "traveler_type_id", "traveler_type_name", params[:traveler_type_id]), :multiple => true, :class => "results_traveler_type_multiselect", :id => "results_traveler_type_id" %>                    
        </span>
        <!--
        <div class="input-prepend hero_from_prepend">
          <span class="add-on">from</span>
          <#%= text_field_tag :from, params[:from], :class => "results_from_datefield input-small", :value => params["from"] %> 
        </div>
        -->
        <div class="hero_days_append hidden-phone">
           <%= select_tag :days, options_for_select((0..10).step(1).to_a.map{|s| s == 0 ? "" : ["#{s} Days", s]}, params[:days].blank? ? "" : params[:days]), :multiple => false, :class => "results_day_field", :id => "results_day_field" %>
        </div>
        <%= submit_tag "Chalo!", :name => nil, :class => 'btn btn-flat-warning splash_submit_button mobile_splash_submit_button', :id => "search_submit_button"  %>
      <% end %>
  <div class = "error_msg"></div>
  </div>
  <!-- End Form Centering -->
  
</div>