<!-- Modal -->

<div id="trip_overview_modal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  
  <div class="modal-header">
    <!-- Begin Button Group -->  
      <div id="overviewHide" class="icon-remove"></div>
    <!-- End Button Group -->  
    <h3 id="myModalLabel"><%=@trip.trip_name%> - An Overview</h3>
  </div>
      
  <!-- Begin Modal Body -->
  <div class="modal-body" id="scroll-modal-body">
    
<!-- Begin Tabs -->
<ul class="nav nav-tabs" id="overview_modal_day_tabs">
    <li class ="active">
      <a class="<%= "overview_modal_day_tabs class_map_day_highlights" %>" href="<%= "#overview_modal_day_highlights" %>" data-toggle="tab" data-day="highlights">Highlights</a>
    </li>
    <% n = @trip.duration.to_i > 10 ? 10 : @trip.duration.to_i %>
        <% for i in 1..n %>
          <li>
            <a class="<%= "overview_modal_day_tabs class_map_day_#{i}" %>" href="<%= "#overview_modal_day_#{i}" %>" data-toggle="tab" data-day="<%= i %>"><%= i %></a>
          </li>
        <% end %>

        <% unless @trip.duration.to_i < 11 %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              More
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <% n = @trip.duration.to_i %>
              <% for i in 11..n %>
                <li><a class="<%= "overview_modal_day_tabs class_map_day_#{i}" %>" href=<%= "#overview_modal_day_#{i}" %> data-toggle="tab" data-day="<%= i %>"><%= "Day #{i}" %></a></li>
              <% end %>
            </ul>

          </li>
        <% end %>
</ul>
<!-- End Tabs -->

  
  <!-- Begin Compiled Tab Content -->
    <div class="tab-content om_tab_content">
      <div class="overview_modal_activities_list tab-pane active" id="overview_modal_day_highlights">
        <div class="om_left_side">
          <ul>
            <li> 
              Experienced <%= @other_activity_count %> locations/activities and ate at <%= @eatery_activity_count %> eateries over <%= @trip.duration %> days <br/>     
            </li>
            <% if (@other_cant_miss_activity_count > 0 || @eatery_cant_miss_activity_count > 0) %>
              <li>
                <% if @other_cant_miss_activity_count > 0 %> <%= @other_cant_miss_activity_count %> locations/activities <% end %>
                <% if @other_cant_miss_activity_count > 0 and @eatery_cant_miss_activity_count > 0 %>  and <%= @eatery_cant_miss_activity_count %> eateries
                <% elsif @eatery_cant_miss_activity_count > 0 %> <%= @eatery_cant_miss_activity_count %> eateries 
                <% end %> 
                on this trip are highly recommended (<%= image_tag('/assets/star.png', {:class => "image_thumbnail_change_alignment"}) %>)
              </li>
            <% end %>
          </ul>  
          <div class='caption_summary'>
            <%= auto_link(@trip.trip_summary, :html => { :target => '_blank' }) %> 
          </div>
        </div>
        <div class="om_right_side">
          <%= link_to @trip do %>
            <% use_this_url, which_url_msg = upload_or_foursquare_image_url_picker(@trip, :thumb, 300, 0) %>
            <%= image_tag(use_this_url, {:class => "image_link_thumbnail"}) %>
          <% end %>
        </div>
      </div>
      <% morning = 0 %>
      <% afternoon = 0 %>
      <% evening = 0 %>
      <% current_day = 0 %>
      <% activity_count=0 %>
      <% for i in 0..(@sorted_activities.length - 1) %>
        <% activity_count+=1 %>
        <% timetype_text = "" %>
        <% timetype_text_tag = "" %>

        <% if @sorted_activities[i][:activityday].nil? or @sorted_activities[i][:activityday] == "" %>
          
          <% nil %>
          <% next %>
        <% end %>

        <% if @sorted_activities[i][:activityday] != current_day %>
          <% morning = 0 %>
          <% afternoon = 0 %>
          <% evening = 0 %>
          <% current_day = @sorted_activities[i][:activityday] %>
          <% activity_count=1 %>
        
        <!-- Begin Individual Tab Content -->
        <div class="overview_modal_activities_list tab-pane" id="<%= "overview_modal_day_#{@sorted_activities[i][:activityday]}"%>">
          <!-- Begin overview modal left side -->
          <div class = "om_left_side">
          <!-- Begin Table -->
          <table class="table table-bordered table-condensed">  
            <tr class = "day_tr">
              <td colspan="2">
                <%= "Day #{@sorted_activities[i][:activityday]}" %>
              </td>
            </tr>
        <% end %>

        <% if ((@sorted_activities[i][:timetype] == "1" or @sorted_activities[i][:timetype] == "2") and morning == 0)  %>
          <% timetype_text = "Morning" %>
          <% timetype_text_tag = "morning_tr" %>
          <% morning = 1 %>
        <% elsif ((@sorted_activities[i][:timetype] == "3" or @sorted_activities[i][:timetype] == "4") and afternoon == 0) %>
          <% timetype_text = "Afternoon" %>
          <% timetype_text_tag = "afternoon_tr" %>
          <% afternoon = 1 %>
        <% elsif ((@sorted_activities[i][:timetype] == "5" or @sorted_activities[i][:timetype] == "6" or @sorted_activities[i][:timetype] == "7") and evening == 0) %>
          <% timetype_text = "Evening" %>
          <% timetype_text_tag = "evening_tr" %>
          <% evening = 1 %>
        <% end %>

        <% if timetype_text != "" and timetype_text_tag != "" %>
          <tr class="<%= timetype_text_tag %>">
            <td colspan="2">
              <%= timetype_text %>
            </td>
          </tr>      
        <% end %>

        <tr class = "overview_table_hover_tr" onclick="trips_namespace.gallery.goToPage(<%= i %>); $('#trip_overview_modal').modal('hide')">
          <td class = "activity_count_cell">
              <span class = "activity_count_box"><%= "#{activity_count}" %></span>
          </td>

          <td>
            <span class = "thumbnail_td">
              <% image_url = @sorted_activities[i][:thumb_image_url] %>
              <%= image_tag(image_url, :alt => @sorted_activities[i][:activity_venue_name]) %>
            </span>
            <%= @sorted_activities[i][:activity_venue_name] %>
            </br>
            <% unless @sorted_activities[i][:foursquare_rating].blank? %>
              <% venue_score_color = ratings_box(@sorted_activities[i][:foursquare_rating]) %>
              <span class = "venue_metadata">
                <span class = "venue_score <%= venue_score_color %>" title="<%= "#{@sorted_activities[i][:foursquare_rating]}/10 - Rating from Foursquare" %>">
                  <%= @sorted_activities[i][:foursquare_rating] %> <span class = "venue_score_of_ten">/ 10</span>
                </span>
              </span>
              <% if self.is_cant_miss(@sorted_activities[i][:foursquare_rating], @sorted_activities[i][:cant_miss]) %>
                (<%= image_tag('/assets/star.png', {:class => "image_thumbnail_change_alignment"}) %>)
              <% end %>
            <% end %>
            
            <span class = "om_subtitle"><%=@sorted_activities[i][:category].split(', ').first %></span>

          </td>
        </tr>


        <% if ((@sorted_activities[i+1][:activityday] and @sorted_activities[i+1][:activityday] != current_day) or (i == (@sorted_activities.length - 2))) %>
              </table>
              <!-- End Table -->
            </div>
            <!-- End overview modal left side -->
            <div class = "om_right_side">
              <div class = "modal_map" id="<%= "modal_map_#{@sorted_activities[i][:activityday]}"%>"></div>
            </div>
          </div>
          <!-- End Individual Tab Content -->
        <% end %>



      <% end %>

  </div>
    <!-- End Compiled Tab Content -->
  </div>
  <!-- End Modal Body -->
  
</div>
