<!-- Modal -->

<div id="trip-overview-modal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%=@trip.trip_name%> Overview</h3>
  </div>

  <!-- Begin Modal Body -->
  <div class="modal-body">
    <!-- Begin Table -->
    <table class="table table-bordered table-condensed table-hover">
    <% (1..@trip.duration.to_i).each do |i| %>
      <% if @trip.trip_activities.where(:activity_day => i.to_s).present? %>

        <tr class = "day_tr"><td colspan="2"><%= "Day #{i}" %></td></tr>
        <% if @trip.trip_activities.where(:activity_day => i.to_s, :activity_time_type => ["1","2"]).present? %>
          <% morning_activity_group = @trip.trip_activities.where(:activity_day => i.to_s, :activity_time_type => ["1","2"]).order("activity_sequence_number") %>

            <tr class ="morning_tr"><td colspan="2"><%= "Morning" %></td></tr>
            <% morning_activity_group.each do |x| %>
              <tr onclick="gallery.goToPage(<%=(x.activity_sequence_number.to_i)-1%>); $('#trip-overview-modal').modal('hide')">
              <td class = "thumbnail_td"><%= image_tag(select_activity_img(x, "", 50), :alt => which_detail_type(x, "name")) %></td>
              <td><%= which_detail_type(x, "name")%> (<%=which_detail_type(x, "category")%>) for <%= x.activity[:duration] %></td>
              </tr>
            <% end %>
        <% else %>
          <% nil %>
        <% end %>

        <% if @trip.trip_activities.where(:activity_day => i.to_s, :activity_time_type => ["3","4"]).present? %>
          <% afternoon_activity_group = @trip.trip_activities.where(:activity_day => i.to_s, :activity_time_type => ["3","4"]).order("activity_sequence_number") %>

            <tr class ="afternoon_tr"><td colspan="2"><%= "Afternoon" %></td></tr>
            <% afternoon_activity_group.each do |x| %>
              <tr onclick="gallery.goToPage(<%=(x.activity_sequence_number.to_i)-1%>); $('#trip-overview-modal').modal('hide')">
              <td class = "thumbnail_td"><%= image_tag(select_activity_img(x, "", 50), :alt => which_detail_type(x, "name")) %></td>
              <td><%= which_detail_type(x, "name")%> (<%=which_detail_type(x, "category")%>) for <%= x.activity[:duration] %></td>
              </tr>
            <% end %>
        <% else %>
          <% nil %>
        <% end %>

        <% if @trip.trip_activities.where(:activity_day => i.to_s, :activity_time_type => ["5","6","7"]).present? %>
          <% evening_activity_group = @trip.trip_activities.where(:activity_day => i.to_s, :activity_time_type => ["5","6","7"]).order("activity_sequence_number") %>
          <tr class ="evening_tr"><td colspan="2"><%= "Evening" %></td></tr>
          <% evening_activity_group.each do |x| %>
            <tr onclick="gallery.goToPage(<%=(x.activity_sequence_number.to_i)-1%>); $('#trip-overview-modal').modal('hide')">
            <td class = "thumbnail_td"><%= image_tag(select_activity_img(x, "", 50), :alt => which_detail_type(x, "name")) %></td>
            <td><%= which_detail_type(x, "name")%> (<%=which_detail_type(x, "category")%>) for <%= x.activity[:duration] %></td>
            </tr>
          <% end %>
        <% else %>
          <% nil %>
        <% end %>
        
      <% else %>
        <% nil %>
      <% end %>
      
      <% end %>
    </table>
      <!-- End Table -->
  </div>
  <!-- End Modal Body -->
  
  <div class="modal-footer">
    <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">See Trip</button>
  </div>
</div>
