<!--Begin Trip Result ul group -->
<ul class="thumbnails continuous-search-result">
  <% exact_matched_trip = false; iter = 0%>
  <!--Begin Trip Result Pagination Div -->
  <div id = "<%= "trips_page" + ((params[:page].nil?)? "0": params[:page]) %>", class = "trips_page">
    <% prev_location = 0 %>
    <% flag = 0 %>
    <% if (params[:featured] != '1' and params[:trip_location_id] != '0' and (params[:page].nil? == true or params[:page] == "0")) %>
      <%= render 'trips/partials/trip_div_add_trip' %>
    <% end %>
    <% @trips.each do |trip| %>
      <% next if trip == "wxyz" %>
      <% if (params[:featured] == '1' or params[:trip_location_id] == '0') and trip.location_id != prev_location %>
      
        <% prev_location = trip.location_id %>
        <%  city_name = get_city_name trip.location_id %>
        <% if (params[:featured] == '1') %>
          <li class="span12"></br><p class="title_subtitle"> <strong><%= city_name %></strong></p></li>
        <% else %>
          <li class="span12"></br><p class="title_subtitle"> <strong><%= city_name %></strong></p></li>
        <% end %>
      <% end %>
      <% exact_matched_trip = false %>
      <% if @exact_match_count > 0 %>
        <% @exact_match_count = @exact_match_count - 1 %>
        <% exact_matched_trip = true %>
      <% end %>
      <%= render 'trips/partials/trip_div', :trip => trip, :exact_matched_trip => exact_matched_trip %>
    <% end %>    
  </div>
  <!--End Trip Result Pagination Div -->
</ul>
<!--End Trip Result ul group -->
