<!-- Modal -->

<div id="trip_overview_modal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  
  <div class="modal-header">
    <!-- Begin Button Group -->  
      <div id="overviewHide" class="icon-remove"></div>
    <!-- End Button Group -->  
    <h3 id="myModalLabel" class="title"><%=@trip.trip_name%> - An Overview</h3>
  </div>
      
  <!-- Begin Modal Body -->
  <div class="modal-body" id="scroll-modal-body">
    <!-- Begin Table -->
    <table class="table table-bordered table-condensed table-hover">
      <% morning = 0 %>
      <% afternoon = 0 %>
      <% evening = 0 %>
      <% current_day = 0 %>
      <% for i in 0..(@sorted_activities.length - 1) %>
        <% timetype_text = "" %>
        <% timetype_text_tag = "" %>
        <% if @sorted_activities[i][:activityday].nil? or @sorted_activities[i][:activityday] == "" %>
          <% nil %>
          <% next %>
        <% end %>
        <% if @sorted_activities[i][:activityday] != current_day %>
          <% morning = 0 %>
          <% afternoon = 0 %>
          <% evening = 0 %>
          <% current_day = @sorted_activities[i][:activityday] %>
          <tr class = "day_tr">
            <td colspan="2">
              <%= "Day #{@sorted_activities[i][:activityday]}" %>
            </td>
          </tr>
        <% end %>
        <% if ((@sorted_activities[i][:timetype] == "1" or @sorted_activities[i][:timetype] == "2") and morning == 0)  %>
          <% timetype_text = "Morning" %>
          <% timetype_text_tag = "morning_tr" %>
          <% morning = 1 %>
        <% elsif ((@sorted_activities[i][:timetype] == "3" or @sorted_activities[i][:timetype] == "4") and afternoon == 0) %>
          <% timetype_text = "Afternoon" %>
          <% timetype_text_tag = "afternoon_tr" %>
          <% afternoon = 1 %>
        <% elsif ((@sorted_activities[i][:timetype] == "5" or @sorted_activities[i][:timetype] == "6" or @sorted_activities[i][:timetype] == "7") and evening == 0) %>
          <% timetype_text = "Evening" %>
          <% timetype_text_tag = "evening_tr" %>
          <% evening = 1 %>
        <% end %>
        <% if timetype_text != "" and timetype_text_tag != "" %>
          <tr class="<%= timetype_text_tag %>">
            <td colspan="2">
              <%= timetype_text %>
            </td>
          </tr>      
        <% end %>
        <tr onclick="trips_namespace.gallery.goToPage(<%= i %>); $('#trip_overview_modal').modal('hide')">
          <td class = "thumbnail_td">
            <% if @sorted_activities[i][:is_self_image] %>
              <% image_url = @sorted_activities[i][:thumb_image_url] %>
            <% else %>
              <% image_url = select_activity_img(-1, @sorted_activities[i][:image_url], 50)  %>
            <% end %>
            <%= image_tag(image_url, :alt => @sorted_activities[i][:activity_venue_name]) %>
          </td>
          <td>
            <%= @sorted_activities[i][:activity_venue_name] %> (<%=@sorted_activities[i][:category] %>) 
            <% unless @sorted_activities[i][:duration].blank? %> 
              for <%= @sorted_activities[i][:duration] %> 
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <!-- End Table -->
  </div>
  <!-- End Modal Body -->
  
<!--   <div class="modal-footer">
    <button class="btn-flat btn-flat-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
  </div> -->
</div>
