<!--Begin Trip Result List Item-->

<li class="trip_result_thumbnail_li <%= "not_exact_result" if exact_matched_trip == false %>">

  <!--Begin Trip Result Thumbnail Wrapper-->
  <div class="thumbnail trip_result_thumbnail_div">
    <div class="caption_box_social hidden-phone">

      <div class = "cb_social_item">
        <div id="fb-root"></div>
        <div class="fb-like" data-href="<%=  (Rails.env == "production") ? "#{url_for( :controller => 'trips', :action => 'show', :id => trip.id, :only_path => false)}" : "http://espn.com" %>" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true" data-font="verdana" data-action="recommend"></div>
      </div>
      <div class = "cb_social_item"><i class="icon-eye-open"></i> <%= trip.trip_stat.trip_views %></div>
      <div class = "cb_social_item"><i class="icon-heart"></i> <%= trip.trip_stat.useful %></div>
    </div>
    <div class="result_thumb_wrap">  
    <%= link_to trip do %>
      <% use_this_url, which_url_msg = upload_or_foursquare_image_url_picker(trip, :thumb, 300, 0) %>
      <%= image_tag(use_this_url, {:class => "image_link_thumbnail"}) %>
    <% end %>
    </div>

    <!--Begin Trip Result Caption-->
    <div class="caption trip_results_caption <%="#{traveler_type_badge_class((trip.traveler_type_id) ? trip.traveler_type[:traveler_type_name] : "other")}_border_top"%>">

      <!--Begin Traveler Type Badge -->
      <div class = "caption_badge_buttons">
        <ul class = "unstyled caption_badges-ul">
        <li>
          <a class= <%=traveler_type_badge_class((trip.traveler_type_id) ? trip.traveler_type[:traveler_type_name] : "other")%> ></a>
          <p><%=(trip.traveler_type_id) ? trip.traveler_type[:traveler_type_name] : "other"%></p>
        </li>
        </ul>
      </div>
      <!--End Traveler Type Badge -->
      
      <h3 class="caption_trip_title caption_title"><%= link_to trip.trip_name, trip %></h3>
      <p class="caption_trip_subtitle caption_subtitle">
        <% author_handle = !trip.author_info.blank? ? trip.author_info.author_handle : nil %>
        <%= trip.duration %> Days in <%= (trip.location_id && trip.location) ? trip.location[:place] : "unknown" %> 
        <span class="divider">|</span><span class = "author_intrip_popover" data-content = '<%= render "trips/partials/author_popover_content", :trip => trip %>'> by <%= (trip.author_info and trip.author_info.author_name) ? link_to((!trip.author_info.author_name.blank? ? trip.author_info.author_name : "Author #{trip.author_info.id}"), !author_handle.blank? ? "/" + author_handle : author_page_author_info_path(trip.author_info.id), :target => "_blank")  : "unknown" %></span>
      </p>
      <p class="caption_trip_summary caption_subtitle"><%= auto_link(trip.trip_summary, :html => { :target => '_blank' }) %><p>
      
    </div>
    <!--End Trip Result Caption-->
  </div>
  <!--End Trip Result Thumbnail Wrapper-->
</li>
<!--End Trip Result List Item-->