<!-- Begin Trip Details Form Container -->
<div class="publish_trip_details_container">
  <%= form_for @trip, :url => @trip_publish, :html => {:class => "form-horizontal", :multipart => true} do |f| %>
  
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <ul>      
          <% @trip.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
        </ul>      
      </div>
    <% end %>

    <%= hidden_field_tag :selected_images, @selectedimages %>

    <div class="field">
      <%= f.hidden_field :location_id %>
    </div>

    <div class="control-group">
      <label class="control-label">Where did you go? <span class="required_star">*</span></label>
      <div class="controls">
        <input id="place_text_field" type="text" name="location" value="<%= @location_val %>" placeholder = "Input a city (i.e. San Francisco)" class = "span3 required_publish_form_field">
        <span class ="help-inline publish_form_required_label">Required</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Who is this best for? <span class="required_star">*</span></label>
      <div class = "controls">
        <%= f.collection_select :traveler_type_id, TravelerType.find(:all, :limit => 4), :traveler_type_id, :traveler_type_name,{:prompt => 'Traveler Type'}, :class => "span3" %>
        <span class ="help-inline publish_form_required_label">Required</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Add a cover picture</label>
      <div class="controls">
        <div class="btn-group">
              Images <%= f.file_field :self_image %>
        </div>
        <span class ="help-inline publish_form_required_label">We'll select an image from Foursquare if you don't have one</span>
      </div>
    </div>      

    <% if !@trip.self_image.blank? %>
      <div>
        <%= image_tag(@trip.self_image_url(:thumb), {:size => '100x100'}) %>
      </div>
    <% end %>
    <hr>


    <hr class = "publish_form_hr">
    <span class ="help-inline publish_form_required_label">You'll have another chance to edit the following before publishing.</span>
    <br><br>

    <div class="control-group">
      <label class="control-label">Add a title</label>
      <div class="controls">
        <%= f.text_field :trip_name, :placeholder => "Pigging Out in San Francisco", :class => "span6 message40" %>
        <p class ="countdown40"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Give a short summary</label>
      <div class="controls">
        <%= f.text_area :trip_summary, :rows => "4", :placeholder => "Who did you go with? What did you do? Why did you go?", :class => "span6 message200" %>
        <p class ="countdown200"></p>
      </div>
    </div>

  <div class="control-group">
    <label class="control-label">Optional: 3 tags that best describes this trip</label>
    <div class="controls">
      <input name="tag1" class="span2" type="text" placeholder="Relax" value= <%=params[:tag1].nil? ? "" : params[:tag1] %>>
      <input name="tag2" class="span2" type="text" placeholder="Party"  value= <%= params[:tag2].nil? ? "" : params[:tag2] %>>
      <input name="tag3" class="span2" type="text" placeholder="Sightseeing"  value= <%= params[:tag3].nil? ? "" : params[:tag3] %>>
    </div>
  </div>
    
    <div class="actions">
      <%= f.submit @trip_message, :name => @trip_name, :id => "trip_form_submit", :class => "btn-flat btn-flat-primary pull-right" %>
    </div>
  <% end %>

</div>
<!-- End Trip Details Form Container -->