<!-- Begin Trip Activities Ordering Container -->
<div class="publish_trip_activities_ordering_container">

<!-- Begin Tabs -->
<ul class="nav nav-tabs" id="publish_day_tabs">

  <li class ="active"><a class="publish_order_day_tabs" href="#publish_activities_day_1" data-toggle="tab">Day 1</a></li>
  
  <%if @trip %>
    <% n = @trip.duration.to_i > 3 ? 3 : @trip.duration.to_i %>
        <% for i in 2..n %>
          <li><a class="publish_order_day_tabs" href=<%= "#publish_activities_day_#{i}" %> data-toggle="tab" ><%= "Day #{i}" %></a></li>
        <% end %>

        <% unless @trip.duration.to_i < 4 %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              More Days
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <% n = @trip.duration.to_i %>
              <% for i in 4..n %>
                <li><a class="publish_order_day_tabs" href=<%= "#publish_activities_day_#{i}" %> data-toggle="tab" ><%= "Day #{i}" %></a></li>
              <% end %>
            </ul>

          </li>
        <% end %>
    <% end %>

    <li class = "publish_trip_add_day">
      <button class="btn btn-primary" type="button">+ Day</button>
    </li>

</ul>
<!-- End Tabs -->

<!-- Begin Tab Content -->
<%= button_to "+ Activity", publish_trip_activity_new_trip_trip_activities_url(:trip_id => @trip.id), :class => "btn btn-primary publish_form_add_activity_button", :method => :get, :remote => true %>
      
<div class="tab-content">
  
  <% for i in 1..@trip.days_in_trip.to_i %>
    <% if i == 1 %>
      <div class="tab-pane active" id=<%= "publish_activities_day_#{i}"%>>
    <% else %>
      <div class="tab-pane" id=<%= "publish_activities_day_#{i}"%>>
    <% end %>

      <div class = "publish_form_activities_list">
        <div class = "publish_form_time">
          Morning
        </div>

        <% morning = @trip_activities.select { |x| x.activity_day == i.to_s and (x.activity_time_type == '1' or x.activity_time_type == '2')} %>
        <%= morning.blank? ? "No Activities" : "" %>
        <% morning.each_with_index do |x, index| %>
          
          <% if index == 0 %>
            <% up_time_type_switch = x.activity_time_type %>
            <% down_time_type_switch = x.activity_time_type %>
            <% up_action = "no_move" %>
            <% down_action = "move_lower" %>
          <% elsif index == morning.find_index(morning.last) %>
            <% up_time_type_switch = x.activity_time_type %>
            <% down_time_type_switch = "3" %>
            <% up_action = "move_higher" %>
            <% down_action = "no_move" %>
          <% else %>
            <% up_time_type_switch = x.activity_time_type %>
            <% down_time_type_switch = x.activity_time_type %>
            <% up_action = "move_higher" %>
            <% down_action = "move_lower" %>
          <%end %>

          <div class = "publish_form_activity_item" id = <%="publish_form_activity_#{x.id}" %> >
          
            <div class = "publish_form_order_button_group">
              <div class = "activity_order_up">
                <%= link_to '<i class ="icon-arrow-up"></i>'.html_safe, move_trip_trip_activities_path(@trip, :method => up_action, :trip_activity_id => x.id, :time_type => up_time_type_switch, :activity_day => x.activity_day), :remote => true %>
              </div>
              
              <div class = "activity_order_down">
                <%= link_to '<i class ="icon-arrow-down"></i>'.html_safe, move_trip_trip_activities_path(@trip, :method => down_action, :trip_activity_id => x.id, :time_type => down_time_type_switch, :activity_day => x.activity_day), :remote => true %>
              </div>
            </div>
            
            <div class = "publish_form_activity_desc">

              <%= (which_detail_type(x,"name")) %>
              </br>
              (<%= (which_detail_type(x,"category")) %>) <%= x.activity_sequence_number %>
              <span class="publish_form_edit_activity">
                <!-- <a href="#">edit</a> -->
                <%= link_to 'Edit', publish_trip_activity_edit_trip_trip_activity_url(@trip.id, x), :method => :get, :remote => true %>
              </span>
            </div>

          </div>
        <% end %>


        <div class = "publish_form_time">
          Afternoon
        </div>

        <% afternoon = @trip_activities.select { |x| x.activity_day == i.to_s and (x.activity_time_type == '3' or x.activity_time_type == '4')} %>
        <%= afternoon.blank? ? "No Activities" : "" %>
        <% afternoon.each_with_index do |x, index| %>
          
          <% if index == 0 %>
            <% up_time_type_switch = "2" %>
            <% down_time_type_switch = x.activity_time_type %>
            <% up_action = "no_move" %>
            <% down_action = "move_lower" %>
          <% elsif index == afternoon.find_index(afternoon.last) %>
            <% up_time_type_switch = x.activity_time_type %>
            <% down_time_type_switch = "5" %>
            <% up_action = "move_higher" %>
            <% down_action = "no_move" %>
          <% else %>
            <% up_time_type_switch = x.activity_time_type %>
            <% down_time_type_switch = x.activity_time_type %>
            <% up_action = "move_higher" %>
            <% down_action = "move_lower" %>
          <%end %>

          <div class = "publish_form_activity_item" id = <%="publish_form_activity_#{x.id}" %> >
          
            <div class = "publish_form_order_button_group">
              <div class = "activity_order_up">
                <%= link_to '<i class ="icon-arrow-up"></i>'.html_safe, move_trip_trip_activities_path(@trip, :method => up_action, :trip_activity_id => x.id, :time_type => up_time_type_switch, :activity_day => x.activity_day), :remote => true %>
              </div>
              
              <div class = "activity_order_down">
                <%= link_to '<i class ="icon-arrow-down"></i>'.html_safe, move_trip_trip_activities_path(@trip, :method => down_action, :trip_activity_id => x.id, :time_type => down_time_type_switch, :activity_day => x.activity_day), :remote => true %>
              </div>
            </div>
            
            <div class = "publish_form_activity_desc">

              <%= (which_detail_type(x,"name")) %>
              </br>
              (<%= (which_detail_type(x,"category")) %>) - <%= x.activity_sequence_number %>

              <span class="publish_form_edit_activity">
                <a href="#">edit</a>
              </span>
            </div>

          </div>
        <% end %>

        <div class = "publish_form_time">
          Evening
        </div>

        <% evening = @trip_activities.select { |x| x.activity_day == i.to_s and (x.activity_time_type == '5' or x.activity_time_type == '6')} %>
        <%= evening.blank? ? "No Activities" : "" %>
        <% evening.each_with_index do |x, index| %>

          <% if index == 0 %>
            <% up_time_type_switch = "4" %>
            <% down_time_type_switch = x.activity_time_type %>
            <% up_action = "no_move" %>
            <% down_action = "move_lower" %>
          <% elsif index == evening.find_index(evening.last) %>
            <% up_time_type_switch = x.activity_time_type %>
            <% down_time_type_switch = x.activity_time_type %>
            <% up_action = "move_higher" %>
            <% down_action = "no_move" %>
          <% else %>
            <% up_time_type_switch = x.activity_time_type %>
            <% down_time_type_switch = x.activity_time_type %>
            <% up_action = "move_higher" %>
            <% down_action = "move_lower" %>
          <%end %>

          <div class = "publish_form_activity_item" id = <%="publish_form_activity_#{x.id}" %> >
          
            <div class = "publish_form_order_button_group">
              <div class = "activity_order_up">
                <%= link_to '<i class ="icon-arrow-up"></i>'.html_safe, move_trip_trip_activities_path(@trip, :method => up_action, :trip_activity_id => x.id, :time_type => up_time_type_switch, :activity_day => x.activity_day), :remote => true %>
              </div>
              
              <div class = "activity_order_down">
                <%= link_to '<i class ="icon-arrow-down"></i>'.html_safe, move_trip_trip_activities_path(@trip, :method => down_action, :trip_activity_id => x.id, :time_type => down_time_type_switch, :activity_day => x.activity_day), :remote => true %>
              </div>
            </div>
            
            <div class = "publish_form_activity_desc">

              <%= (which_detail_type(x,"name")) %>
              </br>
              (<%= (which_detail_type(x,"category")) %>) <%= x.activity_sequence_number %>

              <span class="publish_form_edit_activity">
                <a href="#">edit</a>
              </span>
            </div>

          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>

<!-- End Tab Content -->

</div>
<!-- End Trip Activities Ordering Container -->
