<!-- Begin Trip Details Form Container -->
<div class="publish_trip_details_container">
  <%= form_for(@trip) do |f| %>
  
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <ul>      
          <% @trip.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
        </ul>      
      </div>
    <% end %>

    <%= hidden_field_tag :selected_images, @selectedimages %>

    <div class="field">
      <%= f.hidden_field :location_id %>
    </div>
    <div class="controls controls-row">
  
      <input id="place_text_field" type="text" name="location" value="<%= @location_val %>" placeholder = "Location" class = "span4">

      <%= f.text_field :trip_name, :placeholder => "Trip Title", :class => "span8" %>

    </div>

    <div class="controls controls-row">

      <%= f.collection_select :traveler_type_id, TravelerType.all, :traveler_type_id, :traveler_type_name,{:prompt => 'Traveler Type'}, :class => "span4" %>

   
      <%= f.text_area :trip_summary, :rows => "4", :placeholder => "Trip Summary", :class => "span8" %>
   
    </div>

    <div class="controls controls-row">
      <label>Optional: List 3 tags separated by commas (i.e. beach, relaxation, party)</label>
      <input class="span2 offset10" type="text" placeholder="Tag 1">
      <input class="span2 offset10" type="text" placeholder="Tag 2">
      <input class="span2 offset10" type="text" placeholder="Tag 3">
      <%# f.text_field :tag_1, :placeholder => "Tag 1", :class => "span2 offset4" %>
      <%# f.text_field :tag_2, :placeholder => "Tag 2", :class => "span2" %>
      <%# f.text_field :tag_3, :placeholder => "Tag 3", :class => "span2" %>

    </div>
    
    <div class="actions">
      <%= f.submit "Create Trip", :id => "trip_form_submit", :class => "pull-right" %>
    </div>
  <% end %>

</div>
<!-- End Trip Details Form Container -->