<div class = "publish_trip_selected_activity_desc">
  <p class = "publish_trip_confirm_name">
    <strong>
      <% unless controller.action_name != "publish_trip_activity_edit" %>
        <% if which_detail_type(@trip_activity, "canonical_url").blank? %>
          <%= check_empty_detail(which_detail_type(@trip_activity,"name")) %>
        <% else %>
          <%= link_to check_empty_detail(which_detail_type(@trip_activity,"name")), check_empty_detail(which_detail_type(@trip_activity,"canonical_url")), :target => "_blank" %> 
        <% end %>
      <% end %>

    </strong>
  </p>
  <span class = "publish_trip_confirm_category">
    <%= controller.action_name == "publish_trip_activity_edit" ? check_empty_detail(which_detail_type(@trip_activity,"category")).split(', ').first : "" %>
  </span>
  <span class = "publish_trip_confirm_address">
    <% unless controller.action_name != "publish_trip_activity_edit" %>
      <address>
      <%= check_empty_detail(which_detail_type(@trip_activity,"address1"))%></br>
      (<%= check_empty_detail(which_detail_type(@trip_activity,"address2"))%>)</br>
      <%= check_empty_detail(which_detail_type(@trip_activity,"city"))%>, <%= check_empty_detail(which_detail_type(@trip_activity,"state"))%> <%= check_empty_detail(which_detail_type(@trip_activity,"zip"))%>
      </address>
    <% end %>
  </span>

  <% if controller.action_name == "publish_trip_activity_new" %>
    <!-- Begin Confirm Box Parent Cell -->
    <div class = "confirm_box_parent_cell" >
      <div class = "confirm_box_child_cell" >
        <span class = "publish_trip_confirm_stats">
          <span class = "stats_rating_header"></span>
          <span class = "stats_rating"></span>
        </span>
      </div>
      <div class = "confirm_box_child_cell" >
        <span class = "publish_trip_confirm_stats">
          <span class = "stats_checkins_header"></span>
          <span class = "stats_checkins"></span>
        </span>
      </div>
    </div>
    <!-- End Confirm Box Parent Cell -->
  <% end %>
</div>