<!-- Begin Trip Activities Form Container -->
<div class="publish_trip_activities_container">
  <% if ((@trip_activity and @trip_activity.errors.any?) or (@activity and @activity.errors.any?) or (@activity_detail and @activity_detail.errors.any?)) %>
    <div id="error_explanation">
      <h2><%#= pluralize(@trip_activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% if @trip_activity %>
          <% @trip_activity.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
        <% end %>
        <% if @activity %>
          <% @activity.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
        <% end %>
        <% if @activity_detail %>
          <% @activity_detail.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if controller.action_name == "publish_trip_activity_new" %>
    <div class = "fields_inline">
      <div class = "fields_cell_60">
        <input id="activityvenue" type="text" name="activityvenue" placeholder="Activity Name" value="" />
      </div>
      <div class = "fields_cell_40">
        <input id="activitycity" type="text" placeholder="City">
      </div>
    </div>
    </br>
  <% end %>
  
  

  <div class = "form_activity_confirm_box" >
    <div class = "publish_trip_selected_activity_desc">
      <p class = "publish_trip_confirm_name">
        <strong><%= controller.action_name == "publish_trip_activity_edit" ? (which_detail_type(@trip_activity,"name")) : "" %></strong>
      </p>
      <span class = "publish_trip_confirm_address">
        <% unless controller.action_name != "publish_trip_activity_edit" %>
          <address>
          <%= (which_detail_type(@trip_activity,"address1"))%></br>
          (<%= (which_detail_type(@trip_activity,"address2"))%>)</br>
          <%= (which_detail_type(@trip_activity,"city"))%>, <%= (which_detail_type(@trip_activity,"state"))%><%= (which_detail_type(@trip_activity,"zip"))%>
          </address>
        <% end %>
      </span>
      <span class = "publish_trip_confirm_stats"></span>
    </div>
    <div class ="publish_trip_activity_pic_select">
      <button class="btn-flat btn-flat-primary" type="button">Upload Your Own</button>
    </div>
  </div>
  </br>

      <!--specifying the url allows for specifying which action in the trip_activities controller to hit -->
      <%= form_for([@trip, @trip_activity], :url => @update == 0 ? publish_trip_activity_create_trip_trip_activities_url(:trip_id => @trip.id) : publish_trip_activity_update_trip_trip_activity_url(:trip_id => @trip.id), :remote => true ) do |f| %>        
        <%= hidden_field_tag :trip_activity_latlong, @latlong %>
        <%= hidden_field_tag :trip_id, @trip_activity.trip_id %>
        <%# f.hidden_field :activity_day, :value => @trip_activity.activity_day.blank? ? '1' : @trip_activity.activity_day %>
        <%= f.hidden_field :activity_time_type,  :value => @trip_activity.activity_time_type.blank? ? '1' : @trip_activity.activity_time_type %>
        <%# f.hidden_field :activity_sequence_number %>
        <%#= f.hidden_field :activity_day, :value => params[:trip_activity].nil? and params[:trip_activity][:activity_day].nil? ? '1' : params[:trip_activity][:activity_day] %> 
        <%#= f.hidden_field :activity_time_type,  :value =>  params[:trip_activity][:activity_time_type].nil? ? '1' : params[:trip_activity][:activity_time_type] %>
        <input type="hidden" id="venue_id" name="venueid" value=<%= params[:venueid].nil?  ? '' : params[:venueid] %> ></br>        

        <fieldset>
          <legend></legend>

          <label class = "checkbox">
            <%= check_box_tag 'Must See', :id => "must_see_checkbox", :class => "checkbox" %> Must See?
          </label>
          <div class = "fields_inline">
            <div class = "fields_cell_50">
              <label><strong>Day</strong></label>
              <select name="activity_day">
                  <option>Which Day?</option>
                  <% for i in 1..@trip.duration.to_i %>
                    <option value="<%= i.to_s %>" <%= i.to_s == @trip_activity.activity_day  ? "selected" : "" %> >
                      <%= "Day #{i}" %>
                    </option>
                  <% end %>
              </select>
            </div>
            <div class = "fields_cell_50">  
              <label><strong>Duration</strong></label>
              <select name="duration">
                  <option>How much time?</option>
                  <% ActivityDurationType.all.each do |activity| %>
                    <option value="<%= activity.activity_duration_type_id %>" <%= params[:duration] == activity.activity_duration_type_id  ? "selected" : "" %> >
                      <%= activity.activity_duration_name %>
                    </option>
                  <% end %>
              </select>
            </div>
          </div>

          <label><strong>Short Description</strong></label>
          <textarea rows="4" name="description" placeholder="User Description" class="publish_form_user_description word_count" maxcharacters="200"><%= params[:description].nil?  ? '' : params[:description] %></textarea>
          <p class ="counter"></p>
          <label><strong>Quick Tip (Optional)</strong></label>
          <textarea rows="3" name="quick_tip" placeholder="Quick Tip" class="publish_form_quicktip word_count" maxcharacters="40"><%= params[:quick_tip].nil?  ? '' : params[:quick_tip] %></textarea>
          <p class ="counter"></p>
          <%= f.submit :id => "trip_activities_form_submit", :class => "btn-flat btn-flat-primary pull-right" %>
        </fieldset>        

      <% end %>
</div>
<!-- Begin Trip Activities Form Container -->
