<!-- Begin Trip Activities Ordering Container -->
<div class="publish_trip_activities_ordering_container">
<% for i in 1..@trip.days_in_trip.to_i %>
"day 1"
  </br>
  <%= "morning" %>
  </br>
  <% morning = @sorted_activities.select { |x| x[:activityday] == i.to_s and (x[:timetype] == '1' or x[:timetype] == '2')} %>
  <% morning.each do |x| %>
    <%= x[:activity_venue_name] %>
    </br>
  <% end %>
  <%# morning[0][:activity_venue_name] %>
  <%# morning %>
  </br>
  <%= "afternoon" %>
  </br>
  <% afternoon = @sorted_activities.select { |x| x[:activityday] == i.to_s and (x[:timetype] == '3' or x[:timetype] == '4')} %>
  <% afternoon.each do |x| %>
    <%= x[:activity_venue_name] %>
    </br>
  <% end %>
  </br>
  <%= "evening" %>
  </br>
  <% evening = @sorted_activities.select { |x| x[:activityday] == i.to_s and (x[:timetype] == '5' or x[:timetype] == '6')} %>
  <% evening.each do |x| %>
    <%= x[:activity_venue_name] %>
    </br>
  <% end %>
<% end %>


<!-- Begin Tabs -->
<ul class="nav nav-tabs">

  <li class ="active"><a href="#home" data-toggle="tab">Day 1</a></li>
  
  <%if @trip %>
    <% n = @trip.duration.to_i > 3 ? 3 : @trip.duration.to_i %>
        <% for i in 2..n %>
          <li><a class="daymapinfo" href=<%= "#map_day_#{i}" %> data-day="<%= i %>"><%= "Day #{i}" %></a></li>
        <% end %>

        <% unless @trip.duration.to_i < 4 %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              More Days
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <% n = @trip.duration.to_i %>
              <% for i in 4..n %>
                <li><a class="daymapinfo" href=<%= "#map_day_#{i}" %> data-day="<%= i %>" ><%= "Day #{i}" %></a></li>
              <% end %>
            </ul>

          </li>
        <% end %>
    <% end %>

    <li class = "publish_trip_add_day">
      <button class="btn btn-primary" type="button">+ Day</button>
    </li>

</ul>
<!-- End Tabs -->

<!-- Begin Tab Content -->
<div class="tab-content">
  <div class = "publish_form_activities_list">
    <div class = "publish_form_time">
      Morning
      <button class="btn btn-primary publish_form_add_activity_button" type="button">+ Activity</button>
    </div>
    
    <div class = "publish_form_activity_item">
    
      <div class = "publish_form_order_button_group">
        <div class = "activity_order_up"><i class ="icon-arrow-up"></i></div>
        <div class = "activity_order_down"><i class ="icon-arrow-down"></i></div>
      </div>
      
      <div class = "publish_form_activity_desc">
        Activity 1</br>
        Category

        <span class="publish_form_edit_activity">
          <a href="#">edit</a>
        </span>
      </div>

    </div>

    <div class = "publish_form_time">
      Afternoon
      <button class="btn btn-primary publish_form_add_activity_button" type="button">+ Activity</button>
    </div>

    <div class = "publish_form_activity_item">
    
      <div class = "publish_form_order_button_group">
        <div class = "activity_order_up"><i class ="icon-arrow-up"></i></div>
        <div class = "activity_order_down"><i class ="icon-arrow-down"></i></div>
      </div>
      
      <div class = "publish_form_activity_desc">
        Activity 2</br>
        Category

        <span class="publish_form_edit_activity">
          <a href="#">edit</a>
        </span>
      </div>
    
    </div>

    <div class = "publish_form_time">
      Evening
      <button class="btn btn-primary publish_form_add_activity_button" type="button">+ Activity</button>
    </div>

    <div class = "publish_form_activity_item">
    
      <div class = "publish_form_order_button_group">
        <div class = "activity_order_up"><i class ="icon-arrow-up"></i></div>
        <div class = "activity_order_down"><i class ="icon-arrow-down"></i></div>
      </div>
      
      <div class = "publish_form_activity_desc">
        Activity 3</br>
        Category

        <span class="publish_form_edit_activity">
          <a href="#">edit</a>
        </span>
      </div>
    
    </div>


  </div>
</div>
<!-- End Tab Content -->

</div>
<!-- End Trip Activities Ordering Container -->
