<!-- Begin Trip Details Form Container -->
<div class="publish_trip_details_container">
  <%= form_for @trip, :url => {:action => "publish_create"}, :html => {:class => "form-horizontal"} do |f| %>
  
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <ul>      
          <% @trip.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
        </ul>      
      </div>
    <% end %>

    <%= hidden_field_tag :selected_images, @selectedimages %>

    <div class="field">
      <%= f.hidden_field :location_id %>
    </div>

    <div class="control-group">
      <label class="control-label">Where did you go?</label>
      <div class="controls">
        <input id="place_text_field" type="text" name="location" value="<%= @location_val %>" placeholder = "Input a city (i.e. San Francisco)" class = "span4 required_publish_form_field">
        <span class ="help-inline publish_form_required_label">* required</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Who is this best for?</label>
      <div class = "controls">
        <%= f.collection_select :traveler_type_id, TravelerType.find(:all, :limit => 4), :traveler_type_id, :traveler_type_name,{:prompt => 'Traveler Type'}, :class => "span4" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Add a title</label>
      <div class="controls">
        <%= f.text_field :trip_name, :placeholder => "Pigging Out in San Francisco", :class => "span9 message40" %>
        <p class ="countdown40"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Give a short summary</label>
      <div class="controls">
        <%= f.text_area :trip_summary, :rows => "4", :placeholder => "Who did you go with? What did you do? Why did you go?", :class => "span9 message200" %>
        <p class ="countdown200"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Add a cover picture</label>
    <div class="controls">
      <div class="btn-group">
        <button class="btn btn-primary" type="button">From Foursquare</button>
        <button class="btn btn-primary" type="button">Upload Your Own</button>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Optional: 3 tags that best describes this trip</label>
    <div class="controls">
      <input name="tag1" class="span2" type="text" placeholder="Relax">
      <input name="tag2" class="span2" type="text" placeholder="Party">
      <input name="tag3" class="span2" type="text" placeholder="Sightseeing">
    </div>
  </div>
    
    <div class="actions">
      <%= f.submit "Create Trip", :id => "trip_form_submit", :class => "pull-right" %>
    </div>
  <% end %>

</div>
<!-- End Trip Details Form Container -->