      <div class="triptitlebox">

        <p>
        <span class="trip-title-main-text"><%= @trip.trip_name %></span>
        <span class="trip-title-sub-text"> - Day <%= @trip_activity.activity_day %> of <%= @trip.duration %> in London</span>
        </p>
        <small>by <%= @trip.author_id %> <i class="icon-heart-empty icon-1x"></i> [000] Likes</small>
      
      <div class="socialmediabox">
      <i class="icon-pinterest-sign icon-2x"></i>
      <i class="icon-facebook-sign icon-2x"></i>
      <i class="icon-twitter-sign icon-2x"></i>
      </div>

      <label for="main-nav-check" class="toggle-menu">
      <i class="icon-reorder icon-border"></i>
      </label>

      </div>
      
      <div class="filmstrip">
        
        <ul class="media-list" id="filmstriplist">
          
        </ul>
      </div>

      <div class="centerimage">
        <%= image_tag("view_from_notre_dame_flickr_large.jpg",:alt => "Notre Dame View",:class => "hung_image") %>
        <h3>[Location Name] <small> ( <%= @trip_activities_detail.duration %> )</small> </h3>
      </div>
      
      <div class="rightcaption" id="greybg">
      <p class="lead" id="rightsidecaption"> <%= @trip_activities_detail.description %> </p>
      <div class="well well-small">Quick Tip: <%= @trip_activities_detail.quick_tip %></div> 
      </div>


      <div class="bottomnavigationbar" id="leftnavigation"><i class="icon-chevron-left icon-2x"></i></div>
      
      <div class="bottomnavigationbar" id="previousstepbox">
        
        <% unless @trip_activity.prev.nil? %>
          <%= link_to 'Prev Card', carddeck_trip_trip_activity_path(@trip, @trip_activity.prev.id) %>
        <% else %>
          Back to <%= link_to 'Trip Overview', trip_path(@trip) %>
        <% end %>
        
        </br>[How and Time]</div>
      
      <div class="bottomnavigationbar" id="nextstepbox">
        
        <% unless @trip_activity.next.nil? %>
          <%= link_to 'Next Card', carddeck_trip_trip_activity_path(@trip, @trip_activity.next.id), remote: true %>
        <% else %>
          Last Card - Go To <%= link_to 'Trip Overview', trip_path(@trip) %>
        <% end %>

      </br>[How and Time]</div>
      
      <div class="bottomnavigationbar" id="rightnavigation"><i class="icon-chevron-right icon-2x"></i></div>

      </div>   <!-- /container -->
        
<div id="wrapperhung">
          <div id="lower">

            <div id="bar"><a href="#" id="toggle">More Info</a></div>

            <div id="panel">
                <p>Panel - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris et nulla facilisis eleifend. Sed metus orci, vulputate sit amet malesuada id, luctus vestibulum lacus. Sed faucibus, nibh vel faucibus porta, lectus lacus suscipit metus, ut posuere nulla dolor porttitor erat. Nam iaculis dolor et est tristique scelerisque. Integer gravida scelerisque est, ut pellentesque sem facilisis in. Quisque felis elit, laoreet id sagittis non, sollicitudin vitae turpis. Pellentesque quis quam sed nibh sollicitudin porttitor non ac sapien. Cras luctus egestas urna, vitae bibendum enim malesuada ut. Nulla porta tempus mi vel consequat. Aenean scelerisque porttitor felis, id elementum erat porttitor eu. Mauris vitae elit non lorem malesuada viverra non ac eros.</p>
                <p>Panel - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris et nulla facilisis eleifend. Sed metus orci, vulputate sit amet malesuada id, luctus vestibulum lacus. Sed faucibus, nibh vel faucibus porta, lectus lacus suscipit metus, ut posuere nulla dolor porttitor erat. Nam iaculis dolor et est tristique scelerisque. Integer gravida scelerisque est, ut pellentesque sem facilisis in. Quisque felis elit, laoreet id sagittis non, sollicitudin vitae turpis. Pellentesque quis quam sed nibh sollicitudin porttitor non ac sapien. Cras luctus egestas urna, vitae bibendum enim malesuada ut. Nulla porta tempus mi vel consequat. Aenean scelerisque porttitor felis, id elementum erat porttitor eu. Mauris vitae elit non lorem malesuada viverra non ac eros.</p>
            </div>

        </div>
</div>
