<div class = "activitycontainer <%=background_switch_class(@trip_activity.activity_time_type) %>" >
  <div class="centerimage">
  	<div class= "flip-container">
    		<div class= "flipper">
        		<div class= "front" id="bloop">

              <div data-picture data-alt="<%=alt_name_card_image(@trip_activity)%>" data-class="relative_image">
                <div data-src=<%=select_activity_img(@trip_activity, 480)%> > </div> 
                <div data-src=<%=select_activity_img(@trip_activity, 480)%> data-media="(min-width: 480px)"></div>
                <div data-src=<%=select_activity_img(@trip_activity, 767) %> data-media="(min-width: 767px)"></div>

                <!--[if (lt IE 9) & (!IEMobile)]>
                <div data-src="medium.jpg"></div>
                <![endif]-->

                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                    <img src=<%=select_activity_img(@trip_activity, 480)%> alt="Image of Activity">
                </noscript>
              </div>
              
        		</div>
    			<div class = "back">
    				<div id="trip_map"></div>
    			</div>
    			<div class = "extraside">

            <dl class="dl-horizontal">
              <dt>Address:</dt>
              <dd>
                <address>
                  <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:address1]) %></br>
                  <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:city]) %>, <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:state]) %>
                  <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:zip]) %>
                </address>  
              </dd>

              <dt>Description: </dt>
              <dd><%= check_empty_detail(@trip_activity.activity.restaurant_detail[:description]) %>
              </dd>

              <dt>Category: </dt>
              <dd><%= check_empty_detail(@trip_activity.activity.restaurant_detail[:category]) %></dd>

              <dt>Open Hours:</dt>
              <dd><%= check_empty_detail(@trip_activity.activity.restaurant_detail[:open_hours]) %></dd>

              <dt>Phone:</dt>
              <dd><%= check_empty_detail(@trip_activity.activity.restaurant_detail[:phone]) %></dd>

              <dt>Website:</dt>
              <dd><%= link_to  check_empty_detail(@trip_activity.activity.restaurant_detail[:website]).to_s, check_empty_detail(@trip_activity.activity.restaurant_detail[:website]).to_s, :target => "_blank" %></dd>

            </dl>
    			
          </div>
    		</div>
    	</div>
    	
    	<div class = "activity_title">
    		<h3> <%= @trip_activity.activity.restaurant_detail[:name] %><small>  ( <%= @trip_activity.id %> ) </small> </h3>           
  	  </div>

  	<div class="btn-group" id="moreShowHideGroup">
    	  <button class="btn active" id="hideAllButton"><i class="icon-picture"></i></button>
      	<button class="btn" id="mapShowHide" href="#"><i class="icon-globe"></i></button>
      	<button class="btn" id="infoShowHide" href="#"><i class="icon-info-sign"></i></button>
  	</div>

  </div>

  <div class="rightcaption">
  <p class="lead" id="rightsidecaption"><%= @trip_activity.activity[:description] %>
  </p>
  <div class="well well-small">Quick Tip: <%= @trip_activity.activity[:quick_tip] %> </div> 
  </div>
</div>
