<div class="centerimage">
	<div class= "flip-container">
  		<div class= "flipper">
      		<div class= "front">
      			<%= image_tag("view_from_notre_dame_flickr_large.jpg",:alt => "Notre Dame View",:class => "hung_image") %>
      		</div>
  			<div class = "back">
  				I'm a map boy!
  			</div>
  			<div class = "extraside">
  			  <% if @trip_activity.activity.restaurant_detail %>
  				  Address: <%= @trip_activity.activity.restaurant_detail[:address1] %>
            <%= @trip_activity.activity.restaurant_detail[:city] %>, 
            <%= @trip_activity.activity.restaurant_detail[:state] %> </br>
            Description: <%= @trip_activity.activity.restaurant_detail[:description] %> </br>
            Category: <%= @trip_activity.activity.restaurant_detail[:category] %> </br>
            Open Hours: <%= @trip_activity.activity.restaurant_detail[:open_hours] %> </br>
            Website: <%= @trip_activity.activity.restaurant_detail[:website] %>
          <% end %>
  			</div>
  		</div>
  	</div>
  	
  	<div>
  	   <% if @trip_activity.activity.restaurant_detail %>
  		<h3> <%= @trip_activity.activity.restaurant_detail[:name] %><small>  ( <%= @trip_activity.id %> ) </small> </h3>           
  		<% end %>
	</div>

	<div class="btn-group btn-mini dropup" id="moreShowHideGroup">
  		<button class="btn btn-mini" id="hideAllButton">Hide All</button>
  		<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    	<span class="caret"></span>
  		</button>
  	<ul class="dropdown-menu">
    	<li><a id="mapShowHide" href="#">Show Map</a></li>
    	<li><a id="infoShowHide" href="#">Show Info</a></li>
  	</ul>
	</div>

</div>

      
      <div class="rightcaption" id="greybg">
      <p class="lead" id="rightsidecaption"><%= @trip_activity.activity[:description] %>  </p>
      <div class="well well-small">Quick Tip: <%= @trip_activity.activity[:quick_tip] %> </div> 
      
      </div>