<!-- Begin Activity Container -->
<div class = "activitycontainer">
  <!-- Begin centerimage Container -->
  <div class="centerimage">
    <!-- Begin Button Group -->  
    <div id="moreShowHideGroup">
      <div id="mapShowHide" class="icon-globe"></div>
    </div>
    <!-- End Button Group -->  
    <!-- Begin always-here -->
    <div class="always-here">
      <!-- Begin rightcaption -->
      <div class="rightcaption">
        <h3 id="activity_title">
          <%= @trip_activity.activity.restaurant_detail[:name] %></br>
          <span class="activity-subtitle">Day <%= @trip_activity.activity_day %> <%= @trip_activity.activity_time_type %> (<%= @trip_activity.activity[:duration] %>)  <%#which_detail_type(@trip_activity, "category")%></span>
        </h3>
        <div>
          <p class="lead" id="user-description">
            <%= @trip_activity.activity[:description] %>
          </p>
          <div class="well well-small caption-quick-tip">
            Quick Tip: <%= @trip_activity.activity[:quick_tip] %> 
          </div>
        </div>
        <h3 id="more_info_accordion">
          More Info
        </h3>
        <div class = "more-info-dl" id="more-info-id">
          <dl>
          <dt>Address:</dt>
          <dd>
            <address>
              <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:address1]) %></br>
              <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:city]) %>, <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:state]) %>
              <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:zip]) %>
            </address>  
          </dd>
          <dt>Description: </dt>
          <dd>
            <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:description]) %>
          </dd>
          <dt>Category: </dt>
          <dd>
            <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:category]) %>
          </dd>
          <dt>Open Hours:</dt>
          <dd>
            <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:open_hours]) %>
          </dd>
          <dt>Phone:</dt>
          <dd>
            <%= check_empty_detail(@trip_activity.activity.restaurant_detail[:phone]) %>
          </dd>
          <dt>Website:</dt>
          <dd>
            <%= link_to  check_empty_detail(@trip_activity.activity.restaurant_detail[:website]).to_s, check_empty_detail(@trip_activity.activity.restaurant_detail[:website]).to_s, :target => "_blank" %>
          </dd>
        </div>
      </div>
      <!-- End rightcaption -->   
    </div>
    <!-- End always-here --> 

    <!-- Begin flip-container -->
  	<div class= "flip-container">
    	<div class= "flipper">
        <div class= "front">
          <div class="main-pic-wrap" id="bloop">
            <div data-picture data-alt="<%=alt_name_card_image(@trip_activity)%>" data-class="relative_image">
              <div data-src=<%=select_activity_img(@trip_activity, "", 480)%> > </div> 
              <div data-src=<%=select_activity_img(@trip_activity, "", 480)%> data-media="(min-width: 480px)"></div>
              <div data-src=<%=select_activity_img(@trip_activity, "", 767) %> data-media="(min-width: 767px)"></div>
              <!--[if (lt IE 9) & (!IEMobile)]>
              <div data-src="medium.jpg"></div>
              <![endif]-->
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript>
                <img src=<%=select_activity_img(@trip_activity, "", 480)%> alt="Image of Activity">
              </noscript>
            </div>
          </div>   
        </div>
    		<div class = "back">
    			<div id="trip_map"></div>
    		</div>
      </div>
      <!-- End flipper -->
    </div>
    <!-- End flip-container container -->
  </div>
  <!-- End centerimage -->
</div>
<!-- End activitycontainer -->  
