<div class = "overflow-form">

<%= form_for([@trip, @trip_activity]) do |f| %>
  <% if ((@trip_activity and @trip_activity.errors.any?) or (@activity and @activity.errors.any?)) %>
    <div id="error_explanation">
      <h2><%#= pluralize(@trip_activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% @trip_activity.errors.messages.each do |attr, msg| %>
          <li><%= msg.first %></li>
        <% end %>
        <% @activity.errors.messages.each do |attr, msg| %>
          <li><%= msg.first %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :selected_images, @selectedimages %>
  <%= hidden_field_tag :trip_activity_latlong, @latlong %>
  <%= hidden_field_tag :trip_id, @trip_activity.trip_id %>

  <div class="field">
      <%= f.label :activity_day, 'Activity Day ' %>: <%= f.text_field :activity_day %>
  </div>

  <div class="field">
      <%= f.label :activity_sequence_number, 'Activity Sequence Number ' %>: <%= f.text_field :activity_sequence_number %>
  </div>

  <div class="field">
    <%= f.collection_select :activity_type, ActivityType.all, :activity_type_id, :activity_name %>
  </div>

  <div class="field">
    <%= f.collection_select :activity_time_type, ActivityTimeType.all, :activity_time_type_id, :activity_period %>
  </div> <br/> <br/>
  Food Activity <br/>
  <%=  fields_for :food_activity do |fa| %>
    <div class="field">
      <%= fa.hidden_field :restaurant_detail_id %>
    </div>
    <div class="field">
      <label for="foodvenue">Location Name</label>: <input id="foodvenue" type="text" name="foodvenue" />
    </div>
    <div class="field">
        <%= fa.label :description %>: <%= fa.text_field :description %>
    </div>
    <div class="field">
        <%= fa.label :duration %>: <%= fa.text_field :duration %>
    </div>
    <div class="field">
        <%= fa.label :quick_tip %>: <%= fa.text_field :quick_tip %>
    </div>
  <% end %> <br/> <br/>

  Location Activity <br/>
  <%=  fields_for :location_activity do |fa| %>
    <div class="field">
      <%= fa.hidden_field :location_detail_id %>
    </div>
    <div class="field">
      <label for="locationvenue">Location Name</label>: <input id="locationvenue" type="text" name="locationvenue" />
    </div>
    <div class="field">
        <%= fa.label :description %>: <%= fa.text_field :description %>
    </div>
    <div class="field">
        <%= fa.label :duration %>: <%= fa.text_field :duration %>
    </div>
    <div class="field">
        <%= fa.label :quick_tip %>: <%= fa.text_field :quick_tip %>
    </div> <br/> <br/>  
  <% end %> <br/> <br/>
      
  Transport Activity <br/>
  <%=  fields_for :transport_activity do |fa| %>
    <div class="field">        
        <%= fa.label :source %>: <%= fa.text_field :source %>
    </div>
    <div class="field">
        <%= fa.label :destination %>: <%= fa.text_field :destination %>
    </div>
    <div class="field">
        <%= fa.label :duration %>: <%= fa.text_field :duration %>
    </div>
    <div class="field">  
        <%= fa.label :transport_quick_tips %>: <%= fa.text_field :transport_quick_tips %>
    </div>
    <div class="field">  
        <%= fa.collection_select :transport_type_id, TransportType.all, :transport_type_id, :transport_name %>
    </div>
  <% end %> <br/> <br/>

  <div class="actions">
    <%= f.submit :id => "trip_activities_form_submit" %>
  </div>
<% end %>

<div id="form_images"> </div>

</div>