<!-- Begin Activity Container -->
<div class = "activitycontainer">
  <!-- Begin centerimage Container -->
  <div class="centerimage">
    <!-- Begin Button Group -->  
    <div id="moreShowHideGroup">
      <div class = "show_mapoverview_group">
        <div id="trip_overview_show" class="icon-list "><p class="show_button_text">Overview</p></div>
        <!-- <div id="mapShow" class="icon-globe"><p class="show_button_text">Map</p></div> -->
      </div>
    </div>
    <!-- End Button Group -->  
    <!-- Begin always_here -->
    <div class="always_here">

      <!-- Begin rightcaption -->
      <div class="rightcaption">
        <h3 id="activity_title">
          <!-- Begin Time of Day Swatch -->
          <div class = "time_day_swatch"></div>
          <! -- End Time of Day Swatch -->
          <span class="activity_title title"><%= (which_detail_type(@trip_activity,"name")) %></span></br>
          <span class="activity_subtitle caption_large">Day <%= @trip_activity.activity_day %> 
              <% if @trip_activity.activity.activity_duration_type %>
                <% unless @trip_activity.activity.activity_duration_type[:activity_duration_name].blank? %>
                  <%= "( #{@trip_activity.activity.activity_duration_type[:activity_duration_name]} )" %>
                <% end %>
              <% else %>
                <%= "( #{@trip_activity.activity[:duration]} )" %>
              <% end %>
          </span>

        </h3>
        <div>
          <p class="caption_large" id="user_description">
            <%= auto_link(@trip_activity.activity[:description], :html => { :target => '_blank' }) %>
          </p>
          
          <% unless @trip_activity.activity[:quick_tip].blank? %>
            <div class="well well-small caption_quick_tip caption_medium">
              Quick Tip: <%= auto_link(@trip_activity.activity[:quick_tip], :html => { :target => '_blank' }) %> 
            </div>
          <% else %>
          <% end %>

        </div>
        <h3 id="more_info_accordion">
          <div class = "caption_medium">More Info</div>
        </h3>
        <div class = "more_info_dl" id="more_info_id">
          <div id = "more-info-buffer-header"></div>
          <div id = "more-info-buffer-content">
            <dl class = "caption_medium">
            <dt>Address:</dt>
            <dd>
              <address>
                <%= check_empty_detail(which_detail_type(@trip_activity,"address1")) %></br>
                <%= check_empty_detail(which_detail_type(@trip_activity,"city")) %>, <%= check_empty_detail(which_detail_type(@trip_activity,"state")) %>
                <%= check_empty_detail(which_detail_type(@trip_activity,"zip")) %>
              </address>  
            </dd>
            <dt>Description: </dt>
            <dd>
              <%= check_empty_detail(which_detail_type(@trip_activity,"description")) %>
            </dd>
            <dt>Category: </dt>
            <dd>
              <%= check_empty_detail(which_detail_type(@trip_activity,"category")) %>
            </dd>
            <dt>Open Hours:</dt>
            <dd>
              <%= check_empty_detail(which_detail_type(@trip_activity,"open_hours")) %>
            </dd>
            <dt>Phone:</dt>
            <dd>
              <%= check_empty_detail(which_detail_type(@trip_activity,"phone")) %>
            </dd>
            <dt>Website:</dt>
            <dd>
              <%= link_to  check_empty_detail(which_detail_type(@trip_activity,"website")).to_s, check_empty_detail(which_detail_type(@trip_activity,"website")).to_s, :target => "_blank", :class => "caption_subtitle" %>
            </dd>
            </dl>
            <div class="foursquare_attribution">Powered by <div id ="accordion_foursquare_logo"></div></div>
          </div>
          <!-- End more-info-buffer-content -->
        </div>
      </div>
      <!-- End rightcaption -->   
    </div>
    <!-- End always_here --> 

        <div class= "front">
          <div class="main_pic_wrap" id="bloop">
            <div data-picture data-alt="<%=alt_name_card_image(@trip_activity)%>" data-class="relative_image">
              <!-- upload_or_foursquare_image_url_picker (object, self_image_size=:thumb, foursquare_image_width=250, foursquare_image_index=0) -->
              <% use_this_url_thumb, which_url_msg_thumb = upload_or_foursquare_image_url_picker(@trip_activity,:thumb, 480, 0) %>
              <% use_this_url, which_url_msg = upload_or_foursquare_image_url_picker(@trip_activity,:card, 767, 0) %>
        
                <div data-src=<%= use_this_url_thumb %> > </div>
                <div data-src=<%= use_this_url_thumb %> data-media="(min-width: 480px)"></div>
                <div data-src=<%= use_this_url %> data-media="(min-width: 767px)"></div>
                <!--[if (lt IE 9) & (!IEMobile)]>
                <div data-src="<%=use_this_url_thumb %>"></div>
                <![endif]-->
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                  <img src=<%= use_this_url_thumb %> alt="Image of Activity">
                </noscript>                
            </div>
          </div>   
        </div>

  </div>
  <!-- End centerimage -->

</div>
<!-- End activitycontainer -->  