<!-- Begin Activity Container -->
<div class = "activitycontainer">
  <!-- Begin centerimage Container -->
  <div class="centerimage">

      <div class = "progession_group">
        <div class = "activity_card_day_box">Day <%= @trip_activity.activity_day %></div>    
        <div class = "activity_card_count_box"><%= "#{@activity_count}" %></div>
    
        <% if self.is_cant_miss(check_empty_detail(which_detail_type(@trip_activity,"rating")), @trip_activity.cant_miss) %>
          <div class = "activity_card_star_box">
            <%= image_tag('/assets/star.png', {:class => "image_thumbnail"}) %>
          </div>
        <% end %>
      </div>

      <!-- Begin rightcaption -->
      <div class="rightcaption">
        <div id="activity_title">
          <span class="activity_title title"><%= (which_detail_type(@trip_activity,"name")) %></span></br>
          <span class="activity_subtitle caption_large">
            <%= time_type_to_name(@trip_activity.activity_time_type)%>      
              <% if @trip_activity.activity.activity_duration_type %>
                <% if !@trip_activity.activity.activity_duration_type[:activity_duration_name].blank? %>
                <%= "( #{@trip_activity.activity.activity_duration_type[:activity_duration_name]} )" %> 
                <% end %>
              <% else %>
                <%= "( #{@trip_activity.activity[:duration]} )" %>
              <% end %>          
          </span>
        </div>

        <!-- Begin rc_tabs_con -->
        <div class = "rc_tab_con">

          <!-- Begin Tabs -->
          <ul class="nav nav-tabs" id="rc_activity_tabs">
            <li class ="active">
              <a class="rc_activity_tabs_link" href="<%= "#rc_activity_tabs_1_#{@trip_activity.id}" %>" data-toggle="tab">Summary</a>
            </li>
            <li>
              <a class="rc_activity_tabs_link" href="<%= "#rc_activity_tabs_2_#{@trip_activity.id}" %>"data-toggle="tab">Info</a>
            </li>
            <li>
              <a class="rc_activity_tabs_link" href="<%= "#rc_activity_tabs_3_#{@trip_activity.id}" %>" data-toggle="tab">Reviews</a>
            </li>
          </ul>
          <!-- End Tabs -->
          
          <!-- Begin Tab Content -->
          <div class="tab-content">
            <!-- Begin Tab Pane 1 -->
            <div class="rc_activity_tabs_pane tab-pane active" id="<%= "rc_activity_tabs_1_#{@trip_activity.id}" %>">

              <p class="caption_large" id="user_description">
                <%= auto_link(@trip_activity.activity[:description], :html => { :target => '_blank' }) %>
              </p>
              
              <% unless @trip_activity.activity[:quick_tip].blank? %>
                <div class="well well-small caption_quick_tip caption_medium">
                  Quick Tip: <%= auto_link(@trip_activity.activity[:quick_tip], :html => { :target => '_blank' }) %> 
                </div>
              <% end %>

            </div>
            <!-- End Tab Pane 1 -->
            
            <!-- Begin Tab Pane 2 -->
            <div class="rc_activity_tabs_pane tab-pane" id="<%= "rc_activity_tabs_2_#{@trip_activity.id}" %>">
              <div class = "more_info_dl" id="more_info_id">
                <div id = "more-info-buffer-header"></div>
                <div id = "more-info-buffer-content">
                  <dl class = "caption_medium">
                  <dt>Address:</dt>
                  <dd>
                    <address>
                      <%= check_empty_detail(which_detail_type(@trip_activity,"address1")) %></br>
                      <%= check_empty_detail(which_detail_type(@trip_activity,"city")) %>, <%= check_empty_detail(which_detail_type(@trip_activity,"state")) %>
                      <%= check_empty_detail(which_detail_type(@trip_activity,"zip")) %>
                    </address>  
                  </dd>
                  <dt>Description: </dt>
                  <dd>
                    <%= check_empty_detail(which_detail_type(@trip_activity,"description")) %>
                  </dd>
                  <dt>Category: </dt>
                  <dd>
                    <%= check_empty_detail(which_detail_type(@trip_activity,"category")) %>
                  </dd>
                  <dt>Open Hours:</dt>
                  <dd>
                    <%= check_empty_detail(which_detail_type(@trip_activity,"open_hours")) %>
                  </dd>
                  <dt>Phone:</dt>
                  <dd>
                    <%= check_empty_detail(which_detail_type(@trip_activity,"phone")) %>
                  </dd>
                  <dt>Website:</dt>
                  <dd>
                    <%= link_to  check_empty_detail(which_detail_type(@trip_activity,"website")).to_s, check_empty_detail(which_detail_type(@trip_activity,"website")).to_s, :target => "_blank", :class => "caption_subtitle" %>
                  </dd>
                  </dl>
                  <div class="foursquare_attribution">Powered by <div id ="accordion_foursquare_logo"></div></div>
                </div>
                <!-- End more-info-buffer-content -->
              </div>
            </div>
            <!-- End Tab Pane 2 -->
            
            <!-- Begin Tab Pane 3 -->
            <div class="rc_activity_tabs_pane tab-pane" id="<%= "rc_activity_tabs_3_#{@trip_activity.id}" %>">
              <% activity_reviews = comments_collection(@trip_activity) %>
              <% if activity_reviews.blank? %>
                <p>No Reviews are available at this time</p>
              <% else %> 
                <% activity_reviews.each do |review_item| %>
                  <p>
                    <%= review_item.log %> - <a href = "<%= review_item.url %>" target = "_blank"><%= review_item.name %></a>
                  </p>
                <% end %>
                <div class="foursquare_attribution">Powered by <div id ="accordion_foursquare_logo"></div></div>
              <% end %>

            </div>
            <!-- End Tab Pane 3 -->

          </div>
          <!-- End Tab Content -->
        </div>
        <!-- End rc_tabs_con -->      
      </div>
      <!-- End rightcaption -->   
 
        <div class= "front">
          <div class="main_pic_wrap" id="bloop">
            <div data-picture data-alt="<%=alt_name_card_image(@trip_activity)%>" data-class="relative_image">
              <!-- upload_or_foursquare_image_url_picker (object, self_image_size=:thumb, foursquare_image_width=250, foursquare_image_index=0) -->
              <% use_this_url_thumb, which_url_msg_thumb = upload_or_foursquare_image_url_picker(@trip_activity,:thumb, 480, 0) %>
              <% use_this_url, which_url_msg = upload_or_foursquare_image_url_picker(@trip_activity,:card, 767, 0) %>
        
                <div data-src=<%= use_this_url_thumb %> > </div>
                <div data-src=<%= use_this_url_thumb %> data-media="(min-width: 480px)"></div>
                <div data-src=<%= use_this_url %> data-media="(min-width: 767px)"></div>
                <!--[if (lt IE 9) & (!IEMobile)]>
                <div data-src="<%=use_this_url_thumb %>"></div>
                <![endif]-->
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                  <img src=<%= use_this_url_thumb %> alt="Image of Activity">
                </noscript>                
            </div>
          </div>   
        </div>

  </div>
  <!-- End centerimage -->

</div>
<!-- End activitycontainer -->  