<div class = "publish_trip_completion_status">
  
  <div class = "completion_status <%= controller.action_name == "publish_new" ? 'completion_status_active' : '' %>" >
    <%= controller.action_name == "publish_new" ? "<i class='icon-check-empty'></i>".html_safe : "<i class='icon-check' style='color:#3cc574;'></i>".html_safe %> 1. Create Trip
  </div>
  
  <div class = "completion_status middle_borders <%= controller.action_name == "publish_edit" ? 'completion_status_active' : '' %>" >
    <%= ["publish_new","publish_edit"].include?(controller.action_name) ? "<i class='icon-check-empty'></i>".html_safe: "<i class='icon-check' style='color:#3cc574;'></i>".html_safe %> <%= controller.action_name == "publish_confirm" ? link_to("2. Add Activities", publish_edit_trip_url(@trip)) : "2. Add Activities" %>
  </div>

  <div class = "completion_status <%= controller.action_name == "publish_confirm" ? 'completion_status_active' : '' %>" >
    <%= controller.action_name == "publish_confirm" ? "<i class='icon-check-empty'></i>".html_safe : "<i class='icon-check-empty'></i>".html_safe %>  <%= controller.action_name == "publish_edit" ? link_to(@trip.share_status == 0 ? "Publish Trip" : "3. Unpublish Trip", publish_confirm_trip_url(@trip)) : @trip.share_status == 0 ? "Publish Trip" : "3. Unpublish Trip" %>
  </div>
</div>
