<!-- Begin Trip Details Form Container -->
<div class="container">
  <%= form_for(@trip) do |f| %>
  
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <ul>      
          <% @trip.errors.messages.each do |attr, msg| %>
            <li><%= msg.first %></li>
          <% end %>
        </ul>      
      </div>
    <% end %>

    <%= hidden_field_tag :selected_images, @selectedimages %>

    <div class="field">
      <%= f.hidden_field :location_id %>
    </div>

    <div class="field">
      <input id="place_text_field" type="text" name="location" value="<%= @location_val %>" placeholder = "Location" " />
    </div>    

    <div class="field">
      <%= f.text_field :trip_name, :placeholder => "Trip Title" %>
    </div>
 
    <div class="field">
      <%= f.collection_select :traveler_type_id, TravelerType.all, :traveler_type_id, :traveler_type_name,{:prompt => 'Traveler Type'} %>
    </div>
   
    <div class="field">
      <%= f.text_area :trip_summary, :rows => "4", :placeholder => "Trip Summary" %>
    </div>

    <div class="actions">
      <%= f.submit "Save Trip", :id => "trip_form_submit" %>
    </div>
  <% end %>

</div>
<!-- End Trip Details Form Container -->