<%= form_for(@author_info, :url => author_info_about_update_url(), :html => {:multipart => true}) do |a| %>

  <% if @author_info.errors.any? %>
    <div id="error_explanation">
      <h2>prohibited this trip from being saved:</h2>
      <ul>
        <% @author_info.errors.messages.each do |attr, msg| %>
          <li><%= msg.first %></li>
        <% end %>    
      </ul>
    </div>
  <% end %>
  
  <div class = "field">
    <%= a.label :author_name, 'Author Name' %>:
    <%= a.text_field :author_name %>
  </div>
  <div class = "field">
    <%= a.label :self_image, 'Add your profile photo' %>:
    <%= a.file_field :self_image %>
  </div>
  <% if !@author_info.self_image.blank? %>
    <div>
      <%= image_tag(@author_info.self_image_url(:thumb), {:size => '100x100'}) %>
    </div>
  <% end %>
  <br/>
  
  
  
  <div class = "field">
    <%= a.label :about, 'About the author' %>:
    <%= a.text_field :about %>
  </div>
  <div class = "field">
    <%= a.label :twitter_handle, 'Twitter Handle (without the @ symbol)' %>:
    <%= a.text_field :twitter_handle %>
  </div>
  <div class = "field">
    <%= a.label :website, 'Website' %>:
    <%= a.text_field :website %>
  </div>
  <div class = "field">
    <%= a.label :phone, 'Phone' %>:
    <%= a.text_field :phone %>
  </div>
  <div class = "field">
    <%= a.label :address1, 'Address' %>:
    <%= a.text_field :address1 %>
  </div>  
  <div class = "field">
    <%= a.label :city, 'City' %>:
    <%= a.text_field :city %>
  </div>
  <div class = "field">
    <%= a.label :state, 'State' %>:
    <%= a.text_field :state %>
  </div>
  <div class = "field">
    <%= a.label :country, 'Country' %>:
    <%= a.text_field :country %>
  </div>
  <div class = "field">
    <%= a.label :birthday, 'Birthday' %>:
    <%= a.text_field :birthday %>
  </div>
  
  <div class="actions">
    <%= a.submit  :id => "author_info_update_form_submit" %>
  </div>
<% end %>