Author Information

Name: <%= @author_info.author_name %> <br/>
Address: <%= @author_info.address1 %> <br/>
City: <%= @author_info.city %> <br/>
State: <%= @author_info.state %> <br/>
Country: <%= @author_info.country %> <br/>
Email: <%= @author_info.email %> <br/>
Phone: <%= @author_info.phone %> <br/>
Twitter: <%= @author_info.twitter_handle %> <br/>
Website: <%= @author_info.website %> <br/>
About: <%= @author_info.about %> <br/>
Birthday: <%= @author_info.birthday %> <br/> 

<% if !@author_info.self_image.blank? %>
  <div>
    <%= image_tag(@author_info.self_image_url(:thumb), {:size => '100x100'}) %>
  </div>
<% end %> <br/> <br/>

<% if @trips.blank? %>
  No trips belonging to the author
<% else %>
  <% @trips.each do |trip| %>
    Duration: <%= trip.duration %> Title: <%= trip.trip_name %> Summary: <%= trip. trip_summary %> <br/>
    <% if !current_author_info.blank? and trip.author_id == current_author_info.id.to_s %>
      <%= link_to "View Trip", trip_url(trip) %>
      <%= link_to "Edit Trip", publish_edit_trip_url(trip) %>
      <%= link_to "Delete Trip", trip, :method => :delete, :confirm => "Are you sure ?"%><br/><br/>
    <% end %>      
  <% end %>
<% end %>

<%= link_to "Add New Trip", publish_new_trips_url() %>
