<%= content_for :title do %>
  About chalo.io
<% end %>

<%= content_for :description do %>
  <%= "We make your travel planning easy. Check out trip summaries " + ((params[:place] == nil) ? "to your favorite destinations at chalo.io": ("to" + params[:place]) + " at chalo.io")  %>
<% end %>

<%= render 'pill_nav' %>
<hr>
<div class="row span12">
<h2>About</h2>

<p>
	"Chalo" translates to "Let's Go" in Hindi, a very popular language spoken in India. "Chalo" represents our thirst for exploration, knowledge and shared experiences. </br></br>Planning a new trip is exciting. But it can get time consuming and frustrating. You'll spend hours researching online through an overload of information to piece together the perfect sequence of activities.<br/><br/><b>Chalo helps you search and discover real trips taken by fellow travelers just like you.</b><br/><br/> 
  We would love to hear your thoughts, suggestions and what inspires you - contact us at <%=mail_to "info@chalo.io"%><br/><br/>
</p>
</div>
<div class="row span12">
  <hr>
<h2 class="info_align_left">The Caravan</h2>
<div class="row">
  <div class="span4">
  	<p>
      <span>Hung Kien Luu,</span>
      <span>Co-Founder</span>
    </p>
      <%= image_tag('/assets/headshot/hungluu.jpg', :class=>"team_profile_icon")%>

  		<%= link_to image_tag('/assets/logos/izzy_twitter.png', :class=> "team_social_icon"), raw("https://twitter.com/hungkienluu"), :target => "_blank"%>

  		<%= link_to image_tag('/assets/logos/izzy_linkedin.png', :class=> "team_social_icon"), raw("http://www.linkedin.com/in/hungkienluu"), :target => "_blank"%>
  	</div>
  
<div class="span4">
  
    <p>
      <span>Sachin Gandhi,</span>
      <span>Co-Founder</span>
    </p>
      <%= image_tag('/assets/headshot/sachinga2.jpg', :class=>"team_profile_icon")%>
	    <%= link_to image_tag('/assets/logos/izzy_twitter.png', :class=> "team_social_icon"), raw("https://twitter.com/speaksachin"), :target => "_blank"%>
	   <%= link_to image_tag('/assets/logos/izzy_linkedin.png', :class=> "team_social_icon"), raw("http://www.linkedin.com/in/sachinga"), :target => "_blank"%>
</div>


    <div class="span4">
    <p>
      <span>Izzy Park,</span>
      <span>Trailblazer-in-Residence</span>
    </p>
      <%= image_tag('/assets/headshot/izzy.jpg', :class=>"team_profile_icon")%>
      <%= link_to image_tag('/assets/logos/izzy_twitter.png', :class=> "team_social_icon"), raw("https://twitter.com/izzy_park"), :target => "_blank"%>

      <%= link_to image_tag('/assets/logos/izzy_linkedin.png', :class=> "team_social_icon"), raw("http://www.linkedin.com/in/isabellepark"), :target => "_blank"%>
    </div>
  

</div>