<%= render 'pill_nav' %>

<div class="row span12">
<h1>About</h1>

<p class ="lead">
	Travel planning is time consuming and frustrating. You'll spend hours browsing through an overload of information to piece together the perfect trip. We make it easy and enjoyable to plan your perfect trip with succinct yet rich trip summaries that were made by travelers just like you.
</p>

<h4 class="info_align_center">The Team</h4>
<ul class="inline info_align_center">
  <li>
  	
  	<div class="team_social_link">
  		Hung Kien Luu</br>
  		<%= link_to image_tag('/assets/logos/twitter-bird-white-on-blue.png', :class=> "team_social_icon"), raw("https://twitter.com/hungkienluu"), :target => "_blank"%>

  		<%= link_to image_tag('/assets/logos/LinkedIn_Logo16px.png', :class=> "team_social_icon"), raw("http://www.linkedin.com/in/hungkienluu"), :target => "_blank"%>
  	</div>
  		
  </li>
  
  <li>
  	<div class="team_social_link">
	Sachin Gandhi</br>
	<%= link_to image_tag('/assets/logos/twitter-bird-white-on-blue.png', :class=> "team_social_icon"), raw("https://twitter.com/speaksachin"), :target => "_blank"%>

	<%= link_to image_tag('/assets/logos/LinkedIn_Logo16px.png', :class=> "team_social_icon"), raw("http://www.linkedin.com/in/sachinga"), :target => "_blank"%>
	</div>
  </li> 
</ul>

</div>