<%= content_for :title do %>
  About chalo.io
<% end %>

<%= content_for :description do %>
  <%= "We make your travel planning easy. Check out trip summaries " + ((params[:place] == nil) ? "to your favorite destinations at chalo.io": ("to" + params[:place]) + " at chalo.io")  %>
<% end %>

<%= render 'pill_nav' %>

<div class="row span12">
<h1>About</h1>

<p class ="lead">
	Travel planning is time consuming and frustrating. You'll spend hours browsing through an overload of information to piece together the perfect trip. We make it easy and enjoyable to plan your perfect trip with succinct yet rich trip summaries that were made by travelers just like you.</br></br>
  We would love to hear your thoughts, comments and suggestions - contact us at <%=mail_to "info@chalo.io"%>
</p>

<h4 class="info_align_center">The Team</h4>
<ul class="inline info_align_center">
  <li>
  	
  	<div class="team_social_link">
  	<p class = "team_title_p">
      <span>Hung Kien Luu</span>
      <span>Co-Founder</span>
    </p>

  		<%= link_to image_tag('/assets/logos/twitter-bird-white-on-blue.png', :class=> "team_social_icon"), raw("https://twitter.com/hungkienluu"), :target => "_blank"%>

  		<%= link_to image_tag('/assets/logos/LinkedIn_Logo16px.png', :class=> "team_social_icon"), raw("http://www.linkedin.com/in/hungkienluu"), :target => "_blank"%>
  	</div>
  		
  </li>
  
  <li>
  	<div class="team_social_link">
    <p class = "team_title_p">
      <span>Sachin Gandhi</span>
      <span>Co-Founder</span>
    </p>

	<%= link_to image_tag('/assets/logos/twitter-bird-white-on-blue.png', :class=> "team_social_icon"), raw("https://twitter.com/speaksachin"), :target => "_blank"%>

	<%= link_to image_tag('/assets/logos/LinkedIn_Logo16px.png', :class=> "team_social_icon"), raw("http://www.linkedin.com/in/sachinga"), :target => "_blank"%>
	</div>
  </li>

  <li>
    
    <div class="team_social_link">
    <p class = "team_title_p">
      <span>Izzy Park</span>
      <span>Professional Barista</span>
    </p>
      
      <%= link_to image_tag('/assets/logos/twitter-bird-white-on-blue.png', :class=> "team_social_icon"), raw("https://twitter.com/izzy_park"), :target => "_blank"%>

      <%= link_to image_tag('/assets/logos/LinkedIn_Logo16px.png', :class=> "team_social_icon"), raw("http://www.linkedin.com/in/isabellepark"), :target => "_blank"%>
    </div>
      
  </li> 
</ul>

</div>