<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%=link_to root_url, :class => "navigation_logo" do %>
        <%= image_tag("logos/chalo_right_alpha_96x35.png") %>
      <% end %>
      <%# link_to 'Chalo', root_url, :class=>"brand", :id =>"homepagelink"%>
        <div class="nav-collapse collapse navbar-responsive-collapse nav_center_linked">        
          <%= link_to 'Add A Trip', publish_new_trips_url(), :class => "btn-flat btn-flat-inverse nav_create_trip_button hidden-phone" %>
          <% unless controller.action_name != "show" %>
            <!-- The drop down menu -->
              <%= select_tag :droptoggle_searchbar_id, grouped_options_for_select(self.get_locations()), :multiple => false, :include_blank => "blank", :class => "droptoggle_searchbar selectpicker2" %>
              <div class="dropdown-menu droptoggle_menu">
                <!-- Login form here -->
                <%= render 'trips/partials/nav_searchbar' %>
              </div>
          <% end %>  
        </div>
      <!-- End drop down menu -->
      
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              About
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% unless author_info_signed_in? %>
                <li class = "hidden-phone"><%= link_to 'Why Join?', why_path %></li>
              <% end %>
              <li> <%= link_to "Blog", "http://blog.chalo.io/" %></li>
              <li><%=link_to "About", about_path %></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <% if author_info_signed_in? %>
            <li class="dropdown hidden-phone">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi <%= current_author_info.author_name.nil? ? current_author_info.email : self.first_name(current_author_info.author_name) %>
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li> <%= link_to 'Your Profile',  !current_author_info.author_handle.blank? ? "/" + current_author_info.author_handle  : author_page_author_info_url(current_author_info.id, :protocol => (Rails.env.production? and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %> </li>
                  <li> <%= link_to 'Edit Profile', author_info_about_edit_url(:protocol => (Rails.env.production? and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %> </li>
                  <li> <%= link_to 'Edit Account Settings', edit_author_info_registration_url(:protocol => (Rails.env.production? and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %> </li>
                  <li> <%= link_to "Log Out", destroy_author_info_session_url(:protocol => (Rails.env.production?  and CONFIG[:ENABLE_HTTPS] == "yes") ? "https": "http"), method: :delete %> </li>
                </ul>
            </li>
          <% else %>
            <li> <%= link_to "Sign Up", new_author_info_registration_url(:protocol => (Rails.env.production?  and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http"), :class => "hidden-phone" %> </li>
            <li> <%= link_to "Log In", new_author_info_session_url(:protocol => (Rails.env.production?  and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http"), :class => "hidden-phone" %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <%= image_tag("/assets/spinners/ajax_loader_header.gif", :class => "swipe_loading_indicator_header") %>
</header> 