<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%=link_to root_url, :class => "navigation_logo" do %>
        <%= image_tag("logos/chalo_right_alpha_96x35.png") %>
      <% end %>
      <%# link_to 'Chalo', root_url, :class=>"brand", :id =>"homepagelink"%>

      <!-- The drop down menu -->
      <% unless controller.action_name != "show" %>
        <ul class="nav pull-left">
          <li class="divider-vertical"></li>
          <li class="dropdown">
              <%= select_tag :droptoggle_searchbar_id, options_from_collection_for_select(Location.find(:all, :limit => 3), "location_id", "location_label", params[:place]), :multiple => false, :prompt => "Where would you like to go?", :class => "droptoggle_searchbar selectpicker" %>

            <div class="dropdown-menu droptoggle_menu">
              <!-- Login form here -->
              <%= render 'trips/partials/nav_searchbar' %>
            </div>

          </li>
        </ul>
      <% end %>
      <!-- End drop down menu -->
      <ul class="nav pull-center">
        </ul>

      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <% if author_info_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi <%= current_author_info.email %>
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li> <%= link_to 'Your Profile', author_page_author_info_url(current_author_info.id, :protocol => (Rails.env.production? and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %> </li>
                  <li> <%= link_to 'Edit Profile', author_info_about_edit_url(:protocol => (Rails.env.production? and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %> </li>
                  <li> <%= link_to 'Edit Account Settings', edit_author_info_registration_url(:protocol => (Rails.env.production? and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %> </li>
                  <li> <%= link_to "Log Out", destroy_author_info_session_url(:protocol => (Rails.env.production?  and CONFIG[:ENABLE_HTTPS] == "yes") ? "https": "http"), method: :delete %> </li>
                </ul>
            </li>

          <% else %>
              <li> <%= link_to "Sign Up", new_author_info_registration_url(:protocol => (Rails.env.production?  and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %> </li>
              <li> <%= link_to "Log In", new_author_info_session_url(:protocol => (Rails.env.production?  and CONFIG[:ENABLE_HTTPS] == "yes")  ? "https": "http") %> </li>
          <% end %>
          <li><%=link_to "About", about_path %></li>
          <li class="divider-vertical"></li>
          <%= link_to 'Add A Trip', publish_new_trips_url(), :class => "btn-flat btn-flat-inverse nav_create_trip_button" %>
        </ul>

      </div>
    </div>
  </nav>
  <%= image_tag("/assets/spinners/ajax_loader_header.gif", :class => "swipe_loading_indicator_header") %>
</header> 