<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "chalo.io" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "We make your travel planning easy. Check out trip summaries to your favorite destinations at chalo.io. We currently feature travel itineraries for San Francisco, New York and Paris." %>">
    
    <meta name="author" content="<%= content_for?(:author) ? yield(:author) : "CHALO" %>">
    <%# render 'layouts/shim' %>   
    
    <%= stylesheet_link_tag "show_trip", :media => "all" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "show_trip" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/apple_touch_icons' %>
    <%= yield(:head) %>
    <% if Rails.env.production? %>	
      <%= render :partial => 'layouts/ga' %>
      <%= render :partial => 'layouts/disqus', :locals => {:disqus_id => "#{request.fullpath.downcase}"} %>
    <% else %>
      <%= render :partial => 'layouts/disqus', :locals => {:disqus_id => "#{request.url.downcase}"} %>
    <% end %>
    
    
    <meta name="p:domain_verify" content="5d853b27e826e5b9dc41d0dbb85800fe"/>
  </head>

  <%= render 'layouts/ie8_message' %>
  <body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
      
    <!-- removed render of offcanvas partial here -->
    <div class="page-wrap">
      <%= render 'layouts/navigation' %>
      
      <!-- End Message if in Portrait Mode -->
        <%= render "shared/publish/portrait_mode_message" %>
      <!-- End Message if in Portrait Mode -->
        
      <div class="container" id="maincontainer">
        <div class="content">
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
            </div>
          </div>
        </div>
        <%= yield %>
        <footer></footer>
      </div> <!--! end of .container -->
    </div> <!--! end of .page-wrap -->
  </body>
</html>