<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cool Travel Company" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %> 
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>


  <body>
  <%= render 'layouts/offcanvasfilmstrip'%> <!--! this offcanvasfilmstrip canvas needs to be outside of page-wrap -->

  <div class="page-wrap">

          <%= render 'layouts/navigation' %>
    
    <div class="container" id="maincontainer">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
            </div>
          </div>
        </div>

            <%= yield %>

        <footer></footer>
    </div> <!--! end of .container -->

  </div> <!--! end of .page-wrap -->

  </body>
</html>